<!-- begin::Portlet -->
<div class="m-portlet m-0 details" *authorization="{actionName:'sales-contract-edit-settings',pageLevel:true}">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h6 class="m-portlet__head-text">
          {{'Sales.Titles.ContractSettings' | translate}}
        </h6>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="form" autocomplete="off">
      <!-- <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 px-0">
              <label class="form-control-label"> {{'Sales.Fields.LaborerReceptionDate' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <input class="form-control" type="date" formControlName="LaborerData">
            </div>
          </div>
        </div>
      </div> -->

      <div class="row mx-0">
        <div class="col-12 tableHeader px-0">
          <h6 class="m-portlet__head-text py-3 mb-0">{{'Sales.Titles.Penalites' | translate}}</h6>
        </div>
        <div class="col-12 tableBody py-2 mx-0 px-0" formArrayName="penalities">

          <ng-container *ngFor="let penality of penalitiesVM let i = index">
            <!-- Checkbox -->
            <div class="col-12 m--align-left mb-2 px-0">
              <label class="m-checkbox m-checkbox--focus">
                <input type="checkbox" name="agree" [checked]="penality?.Checked"
                  (change)="selectPenality(penality.PenalityFields, !penality.Checked)">{{penality?.Name}}
                <span></span>
              </label>
              <span class="m-form__help"></span>
            </div>
            <div class="row">
              <ng-container *ngFor="let penalityField of penality?.PenalityFields let j = index">
                <div class="col-lg-4 col-md-6 col-12" [formGroupName]="penalityField.Index">
                  <input type="text" formControlName="Key" [(ngModel)]="penalityField.Id" hidden>

                  <div class="form-group m-form__group row mx-0 pt-1 px-0">
                    <div class="col-12 px-0">
                      <label class="form-control-label" for="contractNumberRef">{{penalityField?.Name}}</label>
                      <!-- <span class="required" *ngIf="penalityField.Id !== '0013' || penalityField.Id !== '0016'">*</span> -->
                    </div>
                    <div class="col-12 px-0">
                      <input class="form-control" id="contractNumberRef" [placeholder]="penalityField?.Name" type="text"
                        formControlName="Value" [readOnly]="penalityField?.IsCalculated" [ngClass]="{
                                        'is-invalid': (form.get('penalities').get(penalityField?.Index.toString()).get('Value').touched
                                                   || form.get('penalities').get(penalityField?.Index.toString()).get('Value').dirty)
                                                   && form.get('penalities').get(penalityField?.Index.toString()).get('Value').errors
                                      }" style="height: 32px;" />
                      <div class="invalid-feedback"
                        *ngIf="form.get('penalities').get(penalityField?.Index.toString()).get('Value').errors?.required">
                        {{'App.Fields.RequiredField' | translate}}
                      </div>

                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>



      <div class="col-12 ml-lg-auto text-center m-form__actions m-form__actions p-3">
        <button class="btn btn-brand mt-2 btn-save-cancel" (click)="Submit()">{{'App.Buttons.Save' | translate}}
        </button>
      </div>

    </form>
  </div>
</div>
<app-shared-progress-spinner class=" loginspin" *ngIf="progressSpinner"></app-shared-progress-spinner>
<!--end::Form-->

<!-- Progress Spinner -->
