<div class="m-portlet m-portlet--mobile" *authorization="{actionName:'receipts-payment-receipts-list',pageLevel:true}">
  <!-- BEGIN: Subheader -->
  <div class="m-portlet__head m-subheader d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title p-0">{{ 'Receipts.Titles.PaymentReceiptsListPage' | translate}}</h3>
    </div>
    <div>
      <button *authorization="'receipts-payment-receipts-create'"
        routerLink="/receipts/create-payment-receipts" type="button" class="btn btn-brand btn-cons">
        {{ 'Receipts.Buttons.PaymentReceiptCreate' | translate}}
      </button>
    </div>
  </div>
  <!-- END: Subheader -->
  <form [formGroup]="searchForm" (ngSubmit)="_dynamicSearchService.search(searchForm,searchModel, getPagedList.bind(this))">
    <div class="m-portlet__body">
      <!--<div class="m-separator m-separator&#45;&#45;md m-separator&#45;&#45;dashed my-4"></div>-->
      <div class="row mx-0 box-shadow">
        <div class="m_datatable w-100 list ">
          <p-table #dt [value]="dataItems" [scrollable]="true" frozenWidth="6.5%" class="w-100" [paginator]="true"
            [totalRecords]="pagingMetaData?.totalCount" [first]="pagingMetaData?.pageNumber"
            [rows]="pagingMetaData?.pageSize" [autoLayout]="true" [responsive]="true"
            [columns]="cols" [(contextMenuSelection)]="selectedItem" [lazy]="true"
            (onLazyLoad)="_dynamicSearchService.lazy($event, searchModel, getPagedList.bind(this))"
            [rowsPerPageOptions]="[10, 20, 30]">
            
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field" [hidden]="col.hidden">
                  {{ col.header | translate }}
                  <p-sortIcon [field]="col.field" *ngIf="col.field !== 'ActionButtons'"></p-sortIcon>
                </th>
                <th pFrozenColumn class="left-frozen">{{'App.Fields.Actions' | translate}}</th>
              </tr>
              <!-- search caractria -->
              <tr id="searchRow" formArrayName="searchFields">
                <th *ngFor="let col of cols let i = index" [ngSwitch]="col.field" [hidden]="col.hidden">
                  <div [formGroupName]="i" *ngIf="col.searchable != false && col.hidden != true" class="grid-search">
                    <ng-container *ngIf="!col.searchType || col.searchType == 'text'">
                      <input formControlName="fieldName" type="text" class="form-control" [value]="col.field" hidden>
                      <input formControlName="value" type="text" class="form-control">
                      <select formControlName="operator" class="form-control">
                        <option *ngFor="let item of operators" [value]="item">
                          {{'App.SearchOperations.' + item | translate}}
                        </option>
                      </select>
                    </ng-container>
                    <ng-container *ngIf="col.searchType == 'date'">
                      <input formControlName="fieldName" type="text" class="form-control" [value]="col.field" hidden>
                      <input formControlName="value" type="date" class="form-control">
                      <select formControlName="operator" class="form-control">
                        <option *ngFor="let item of operators" [value]="item">
                          {{'App.SearchOperations.' + item | translate}}
                        </option>
                      </select>
                    </ng-container>
                  </div>
                </th>
                <th pFrozenColumn class="left-frozen">
                  <div class="grid-buttons ">
                    <button type="submit" class="btn btn-brand" title="search in gride">
                      <i class="la la-search"></i>
                    </button>
                    <button title="reset" (click)="_dynamicSearchService.reset(searchForm, cols, getPagedList.bind(this))"
                      class="btn btn-secondary">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dataItem let-columns="columns">
              <tr [pSelectableRow]="dataItem" [pContextMenuRow]="dataItem">
                <td *ngFor="let col of columns" [hidden]="col.hidden">
                  <!--begin::Handle ActionButtons & Data Fields-->
                  <ng-container *ngIf="
                    col.field === 'ActionButtons';
                    then render_action_buttons;
                    else render_data_field
                 "></ng-container>
                  <ng-template #render_action_buttons>

                  </ng-template>
                  <ng-template #render_data_field>
                    <!--begin::Handle IsDownPayment-->
                    <ng-container *ngIf="
                    col.field === 'isDownPayment';
                    then handle_isDownPayment_field;
                    else handle_other_field
                    ">
                    </ng-container>
                    <ng-template #handle_isDownPayment_field>
                      <span>
                        {{ dataItem[col.field]? ('Receipts.Fields.PrePaidReceipt' | translate) :
                        ('Receipts.Fields.SalaryReceipt' | translate)}}
                      </span>
                    </ng-template>
                    <ng-template #handle_other_field>
                      {{ !col.pipe ? dataItem[col.field] || '---' : col.pipe === 'date' ? (dataItem[col.field] | date:
                      col.pipeFormat) : ( col.pipe === 'currency'? (dataItem[col.field] | currency:' ') :
                      dataItem[col.field])
                      }}
                    </ng-template>
                  </ng-template>

                </td>
                <td pFrozenColumn class="left-frozen">
                  <span class="d-flex justify-content-center">
                    <span class="d-inline-block">
                      <div class="dropdown">
                        <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                          data-toggle="dropdown" aria-expanded="true">
                          <i class="la la-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a *authorization="'receipts-payment-receipts-edit'" class="dropdown-item"
                            title="{{'App.Buttons.Edit' | translate}}" (click)="setId(dataItems['id'])">
                            {{'App.Buttons.Edit' | translate}}
                          </a>
                          <a *authorization="'receipts-payment-receipts-edit'" class="dropdown-item"
                          title="{{'App.Buttons.Edit' | translate}}" (click)="setId(dataItems['id'])">
                          {{'App.Buttons.Edit' | translate}}
                        </a>
                        <a *authorization="'receipts-payment-receipts-edit'" class="dropdown-item"
                          title="{{'App.Buttons.Edit' | translate}}" (click)="setId(dataItems['id'])">
                          {{'App.Buttons.Edit' | translate}}
                         </a>
                        </div>

                      </div>
                    </span>
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr  *ngIf="!progressSpinner">
                <td [attr.colspan]="columns?.length" class="empty-grid-table">
                  <span class="emp-msg">
                    {{ 'App.Fields.NoData' | translate }}
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </form>
</div>

<div *authorization="'receipts-payment-receipts-print'" class="custom-bottom-aside-modal modal fade" id="reportModal"
  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-report-model-viewer></app-report-model-viewer>
</div>
