<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="exampleModalLabel">{{'Sales.Titles.HoldContract' | translate}}</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--begin::Form-->

    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="form"
      (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="row mx-0 px-0">

          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label">{{'Sales.Fields.ContractHoldDate' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-calendar id="birthDate" placeholder="{{'Sales.Fields.ContractHoldDate' | translate}}"
                  formControlName="ContractHoldDate" dateFormat="yy-mm-dd"
                  class="form-control calendar-form-control  p-0 " [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="{{ '1900:' + toYear }}" [ngClass]="{
                    'is-invalid': submitted && form.get('ContractHoldDate').errors
                  }">
                </p-calendar>
                <div class="invalid-feedback" *ngIf="form.get('ContractHoldDate').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>


          <!-- السبب-->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label">{{'App.Fields.LaborerFileStatusName' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete id="Customer" class="p-0 form-control" field="ArabicName"
                  formControlName="LaborerStatusId" [suggestions]="filteredArray" (completeMethod)="
                    filterArray($event,  viewModel?.LaborerStatusesVM)
                  " (onClear)="onClear('FromBranchId')" [forceSelection]="true" [size]="30" [minLength]="1"
                  placeholder="{{'App.Fields.LaborerFileStatusName' | translate}}" [dropdown]="true" [ngClass]="{
                    'is-invalid': submitted && form.get('LaborerStatusId').errors
                  }">
                  <ng-template let-Branch pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ Branch.ArabicName }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback " *ngIf="form.get('LaborerStatusId').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-12 mt-4 pb-4">
            <span class="mb-3" style="color: red ">
              {{'Sales.Fields.ApplyContractPenalities' | translate}}
            </span>
          </div> -->
        </div>


      </div>
      <div class="modal-footer">
        <div class="m-auto">
          <button type="submit"
            class="btn btn-save-cancel mb-1 btn-brand">{{'App.Buttons.Save' | translate}}</button>&nbsp;&nbsp;
          <button type="button" data-dismiss="modal"
            class="btn btn-save-cancel mb-1 btn-secondary">{{'App.Buttons.Cancel' | translate}}</button>
        </div>

      </div>
    </form>

    <!--end::Form-->
  </div>
</div>
<app-shared-progress-spinner *ngIf="progressSpinner"></app-shared-progress-spinner>
