.p-element .left-frozen .p-frozen-column
{
    left: 0px !important;
}



:host ::ng-deep  .p-frozen-column {
  font-weight: bold;
  left: 0.1px !important;
  overflow: visible !important;
}
:host ::ng-deep .p-datatable-frozen-tbody {
  font-weight: bold;
  left: 0.1px !important;
  overflow: visible !important;
}

.dropdown-menu.show {
  display: contents !important;
}
