<div
  class="details py-0"
  *authorization="{ actionName: 'sales-contract-details', pageLevel: true }"
>
  <div class="m-portlet m-0">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h6 class="m-portlet__head-text">
            <a routerLink="/sales/list-contracts" class="back-icon">
              <i class="fa fa-arrow-alt-circle-right"></i> </a
            >{{ "Sales.Titles.ContractDetails" | translate }}
          </h6>
        </div>
      </div>
    </div>

    <div class="m-portlet__body">
      <div class="row mx-0">
        <!-------------------------------------- بيانات العقد -------------------------------------->

        <div class="col-12 tableHeader">
          <label class="form-control-label py-3">{{
            "Sales.Titles.ContractData" | translate
          }}</label>
        </div>
        <div class="col-12 tableBody py-2">
          <div class="row mx-0 custom-details-card">
            <div class="details-label">
              <span>{{ "Sales.Fields.ContractId" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.Id }}</span>
            </div>
            <div class="details-label">
              <span>{{'Sales.Fields.SegmentsContractId' | translate}}</span>
            </div>
            <div class="details-value">
              <span>{{contract?.SegmentContractId || '----'}}</span>
            </div>
            <div class="details-label">
              <span>{{'App.Fields.Area' | translate}}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.AreaName }}</span>
            </div>
            <div class="details-label">
              <span>{{ "App.Fields.Branch" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.BranchName }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.ContractDate" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.ContractDate | date : "yyyy-MM-dd" }}</span>
            </div>
            <div class="details-label">
              <span>{{
                "Sales.Fields.ExpectedTerminationDate" | translate
              }}</span>
            </div>
            <div class="details-value">
              <span>{{
                contract?.ExpectedTerminationDate | date : "yyyy-MM-dd"
              }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.LaborerReceptionDate" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{
                contract?.LaborerReceptionDate | date : "yyyy-MM-dd"
              }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.ContractTotalDays" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.ContractTotalDays }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.ConsumedDays" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.ConsumedDays }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.RemainingDays" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.RemainingDays }}</span>
            </div>

            <div class="details-label">
              <span>{{ "Sales.Fields.StopDate" | translate }}</span>
            </div>
            <div class="details-value">
              <span *ngIf="contract?.StopDate">{{
                contract?.StopDate | date : "yyyy-MM-dd"
              }}</span>
              <span *ngIf="!contract?.StopDate">--</span>
            </div>

            <div class="details-label">
              <span>{{ "Sales.Fields.ContractStatusName" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.ContractStatusName }}</span>
            </div>
          </div>
        </div>

        <!---------------------------------- تفاصيل الباقة ---------------------------->
        <div class="col-12 tableHeader">
          <label class="form-control-label py-3 mb-0">{{
            "Sales.Titles.BundleDetails" | translate
          }}</label>
        </div>
        <div class="col-12 tableBody py-2">
          <div class="row mx-0 custom-details-card">
            <div class="details-label">
              <span>{{ "Sales.Fields.BundleId" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.BundleId }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.BundleName" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.BundleName }}</span>
            </div>
            <div class="details-label">
              <span>{{ "App.Fields.Nationality" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.BundleNationalityName }}</span>
            </div>
            <div class="details-label">
              <span>{{ "App.Fields.Profession" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.BundleProfessionName }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.BundlePeriod" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.BundlePeriod }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.BundleNetVal" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.BundleNetValue | currency : "RS " }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.TaxAmount" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.BundleTaxAmount | currency : "RS " }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.NetValAfterTax" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{
                contract?.BundleNetValueAfterTax | currency : "RS "
              }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.NoInstallment" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.BundleNoInstallment }}</span>
            </div>
          </div>
        </div>

        <!-- -----------------------------    البيانات المالية ------------------------------------------- -->

        <div class="col-12 tableHeader">
          <label class="form-control-label py-3 mb-0">{{
            "Sales.Titles.FinancialData" | translate
          }}</label>
        </div>
        <div class="col-12 tableBody py-2">
          <div class="row mx-0 custom-details-card">
            <div class="details-label">
              <span>{{ "Sales.Fields.ContractNetValue" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.NetValue }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.DiscountRatio" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.DiscountRatio + "% " }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.DiscountAmount" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.DiscountAmount | currency : "RS " }}</span>
            </div>
            <div class="details-label">
              <span>{{
                "Sales.Fields.NetValueAfterDiscount" | translate
              }}</span>
            </div>
            <div class="details-value">
              <span>{{
                contract?.NetValueAfterDiscount | currency : "RS "
              }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.TaxAmount" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.TaxAmount | currency : "RS " }}</span>
            </div>
            <div class="details-label">
              <span>{{
                "Sales.Fields.ContractNetValueAfterTax" | translate
              }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.NetValueAfterTax | currency : "RS " }}</span>
            </div>
            <div class="details-label">
              <span>{{
                "Sales.Fields.EscapeInsuranceAmount" | translate
              }}</span>
            </div>
            <div class="details-value">
              <span>{{
                contract?.EscapeInsuranceAmount | currency : "RS "
              }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.ContractDownpayment" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{
                contract?.ContractDownPaymentAmount | currency : "RS "
              }}</span>
            </div>
          </div>
        </div>

        <!--------------------------------------  بيانات العميل --------------------->
        <div class="col-12 tableHeader">
          <label class="form-control-label py-3 mb-0">{{
            "App.Titles.CustomerData" | translate
          }}</label>
        </div>
        <div class="col-12 tableBody py-2">
          <div class="row mx-0 custom-details-card">
            <div class="details-label">
              <span>{{'Sales.Fields.SegmentsCustomerId' | translate}}</span>
            </div>
            <div class="details-value">
              <span>{{contract?.SegmentsCustomerId}}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.CustomerName" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.CustomerName }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.CustomerTypeName" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.CustomerTypeName }}</span>
            </div>
            <div class="details-label">
              <span>{{ "Sales.Fields.ContactPerson" | translate }}</span>
            </div>
            <div class="details-value">
              <span>{{ contract?.CustomerContactPerson }}</span>
            </div>
          </div>
        </div>

        <!-- ====================================بيانات العمالة============================ -->
        <div class="col-12 tableHeader">
          <label class="form-control-label py-3 mb-0">{{
            "Sales.Titles.laborersData" | translate}}
          </label>
        </div>

        <div class="row tableBody py-2 px-0 mx-0">
              <div class="col-12 list px-0 mb-3 box-shadow">
                <p-table
                  #rr
                  [columns]="contractlineCols"
                  [value]="contractLines"
                  frozenWidth="6.5%"
                  dataKey="Id"
                  [lazy]="false"
                  [paginator]="false"
                  [responsive]="true"
                  [rows]="10"
                  [totalRecords]="totalRecords"
                  [scrollable]="true"
                  class="w-100"
                >
                  <ng-template pTemplate="frozenbody" let-dataItem>
                    <tr>
                      <td></td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="frozenheader">
                    <tr class="frozeheader">
                      <th><span></span></th>
                    </tr>
                    <tr class="frozeheader">
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th
                        *ngFor="let col of columns"
                        pSortableColumnDisabled="true"
                      >
                        {{ col.header | translate }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-dataItem
                    let-columns="columns"
                  >
                    <tr [pSelectableRow]="dataItem">
                      <td *ngFor="let col of columns">
                        <ng-container *ngIf="
                           col.field === 'ActionButtons';
                           then render_action_buttons;
                           else render_data_field
                        "></ng-container>
                          <ng-template #render_action_buttons>

                          </ng-template>
                          <ng-template #render_data_field>
                            <ng-container *ngIf="col.type == 'status'">
                              <span class="m-badge status"
                                [ngClass]="{'m-badge--success': dataItem['ContractLineTypeId'] == '001',
                                            'm-badge--warning' : dataItem['ContractLineTypeId'] == '002',
                                            'm-badge--danger' : dataItem['ContractLineTypeId'] == '003'}">
                                {{dataItem['ContractLineTypeName']}}
                              </span>
                            </ng-container>

                            <ng-container *ngIf="col.type != 'status'">
                              {{ !col.pipe ? dataItem[col.field] : col.pipe === 'date' ? (dataItem[col.field] | date: col.pipeFormat) : dataItem[col.field]
                              }}
                            </ng-container>
                          </ng-template>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr *ngIf="contractLines?.length === 0">
                      <td
                        [attr.colspan]="columns?.length"
                        class="empty-grid-table"
                      >
                        <span class="emp-msg">
                          {{ "App.Fields.NoData" | translate }}
                        </span>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
        </div>

      </div>
    </div>
  </div>
  <app-shared-progress-spinner
    *ngIf="progressSpinner"
  ></app-shared-progress-spinner>
</div>
