<div class="m-portlet m-portlet--mobile" *authorization="{actionName:'sales-bundle-list',pageLevel:true}">
  <!-- BEGIN: Subheader -->
  <div class="m-portlet__head m-subheader d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title p-0">{{'Sales.Titles.Bundles' | translate}}</h3>
    </div>
    <div>
      <button *authorization="'sales-bundle-create'" [routerLink]="['/sales/create-bundle']" data-toggle="modal"
        data-target="#createModal" type="button" class="btn btn-brand btn-cons">
        {{'Sales.Buttons.AddBundle' | translate}}
      </button>
    </div>
  </div>
  <!-- END: Subheader -->
  <form [formGroup]="searchForm" (ngSubmit)="_dynamicSearchService.search(searchForm,searchModel, getData.bind(this))">
    <div class="m-portlet__body">
      <div class="row mx-0 box-shadow">
        <!--Housing List-->
        <div class="m_datatable list w-100" id="locked_right">
          <p-table [value]="dataItems" [paginator]="true" [totalRecords]="pagingMetaData?.TotalItemCount"
            [rows]="pagingMetaData?.PageSize" [first]="pagingMetaData?.FirstItemOnPage" [autoLayout]="true"
            [responsive]="true" [loading]="progressSpinner" [columns]="cols" [(contextMenuSelection)]="selectedItem"
            [lazy]="true" (onLazyLoad)="_dynamicSearchService.lazy($event, searchModel, getData.bind(this))"
            [rowsPerPageOptions]="[10, 20, 30]" [scrollable]="true" frozenWidth="6.5%" class="w-100">
            <!-- <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" style="width:150px">
              </colgroup>
            </ng-template> -->
            <ng-template pTemplate="frozenbody" let-dataItems>
              <tr>
                <td>
                  <span class="d-flex justify-content-center">
                    <span class="d-inline-block">
                      <div class="dropdown">
                        <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                          data-toggle="dropdown" aria-expanded="true">
                          <i class="la la-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#" class="dropdown-item" [routerLink]="['/sales/edit-bundle', dataItems['Id']]"
                            title="Edit">
                            {{'App.Buttons.Edit' | translate}}
                          </a>
                        </div>
                      </div>
                    </span>
                  </span>

                </td>
              </tr>
            </ng-template>


            <ng-template pTemplate="frozenheader">
              <tr class="frozeheader">
                <th>{{'App.Fields.Actions' | translate}}</th>
              </tr>
              <tr class="frozeheader">
                <th>
                  <div class="grid-buttons ">
                    <button type="submit" class="btn btn-brand" title="search in gride">
                      <i class="la la-search"></i>
                    </button>
                    <button title="reset" (click)="_dynamicSearchService.reset(searchForm, cols, getData.bind(this))"
                      class="btn btn-secondary">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </th>
              </tr>

            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field" [hidden]="col.hidden">

                  {{ col.header | translate }}
                  <p-sortIcon [field]="col.field" *ngIf="col.field !== 'ActionButtons'"></p-sortIcon>
                </th>
              </tr>
              <!-- search caractria -->
              <tr id="searchRow" formArrayName="SearchFields">
                <th *ngFor="let col of cols let i = index" [ngSwitch]="col.field" [hidden]="col.hidden">
                  <div [formGroupName]="i" *ngIf="col.searchable && !col.hidden" class="grid-search">
                    <ng-container *ngIf="col.searchType == 'text'">

                      <input formControlName="FieldName" type="text" class="form-control" [value]="col.field" hidden>
                      <input formControlName="Value" type="text" class="form-control">
                      <select formControlName="Operator" class="form-control">
                        <option *ngFor="let item of operators" [value]="item">
                          {{'App.SearchOperations.' + item | translate}}
                        </option>
                      </select>
                    </ng-container>
                    <ng-container *ngIf="col.searchType == 'date'">

                      <input formControlName="FieldName" type="text" class="form-control" [value]="col.field" hidden>
                      <input formControlName="Value" type="date" class="form-control">
                      <select formControlName="Operator" class="form-control">
                        <option *ngFor="let item of operators" [value]="item">
                          {{'App.SearchOperations.' + item | translate}}
                        </option>
                      </select>


                    </ng-container>

                  </div>

                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dataItem let-columns="columns">
              <tr [pSelectableRow]="dataItem" [pContextMenuRow]="dataItem">
                <td *ngFor="let col of columns" [hidden]="col.hidden">

                  <!--begin::Handle ActionButtons & Data Fields-->
                  <ng-container *ngIf="
                    col.field === 'ActionButtons';
                    then render_action_buttons;
                    else render_data_field
                  "></ng-container>
                  <ng-template #render_action_buttons>


                  </ng-template>
                  <ng-template #render_data_field>

                    <!--begin::Handle IsInActive-->
                    <ng-container *ngIf="
                      col.field === 'IsInactive';
                      then handle_inactive_field;
                      else handle_other_field
                    ">
                    </ng-container>
                    <ng-template #handle_inactive_field>
                      <span class="m-badge status" [ngClass]="{
                        'm-badge--success': !dataItem[col.field],
                        'm-badge--danger': dataItem[col.field]
                      }">
                        {{ dataItem[col.field]? ('App.Fields.InActive' | translate) : ('App.Fields.Active' | translate
                        )}}
                      </span>
                    </ng-template>
                    <ng-template #handle_other_field>
                      {{!col.pipe ? dataItem[col.field] : col.pipe === 'date' ? (dataItem[col.field] | date:
                      col.pipeFormat) : 1}}

                    </ng-template>
                    <!--end::Handle IsInActive-->
                  </ng-template>
                  <!--end::Handle ActionButtons & Data Fields-->
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr *ngIf="!progressSpinner">
                <td [attr.colspan]="columns?.length" class="empty-grid-table">
                  <span class="emp-msg">
                    {{ 'App.Fields.NoData' | translate }}
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <!-- <p-contextMenu #cm [model]="menuItems"></p-contextMenu> -->
      </div>
    </div>
  </form>
</div>

<!--begin::Modal for Create Bundles-->

<!--end::Modal for Create Bundles-->

<!--begin::Modal for Edit Bundles-->

<!--end::Modal for Edit Bundles-->

<!--begin::Modal for Delete Bundles-->
<div class="custom-bottom-aside-modal modal fade" id="deleteModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">{{'Sales.Titles.DeleteBundle' | translate}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>{{'App.Buttons.DeleteBundle' | translate}}</strong>
      </div>
      <div class="modal-footer">
        <div class="m-auto">
          <button type="button" class="btn btn-secondary btn-save-cancel mb-1" data-dismiss="modal">
            {{'App.Buttons.Cancel' | translate}}
          </button>
          <button type="button" class="btn btn-brand btn-save-cancel mb-1" data-dismiss="modal">
            {{'App.Buttons.Delete' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end::Modal for Delete Bundles-->
