<style>
  .navigation-cards-col [data-toggle='collapse'] .fa:before {
    content: '\f068';
  }

  .navigation-cards-col [data-toggle='collapse'].collapsed .fa:before {
    content: '\f067';
  }

  /*@media (max-width: 768px) {*/

  /*.home-cards-col {*/

  /*margin-top: 3rem !important;*/

  /*}*/

  /*}*/
  a:hover {
    text-decoration: none;
  }

</style>

<app-header></app-header>

<!-- System Cards -->

<div class="container">
  <div class="row mx-0">
    <div class="col-12">
      <div class="text-center company-name py-5 my-0 mx-auto">
        <div style='font-size: 70px'>Ewan Financial System</div>
      </div>
    </div>
  </div>
  <div class="row mx-0 justify-content-center">
    <div class="col-lg-4 col-12 mb-5" *ngFor="let module of modules">
      <a (click)="module.onClick()" [routerLink]="module.URLPath" *ngIf="module?.URLPath?.includes('/')">
        <div class="media bg-white box-shadow system-card cursor-pointer">
          <img alt="" [src]="module?.Icon">
          <div class="media-body pt-3 px-2">
            <h4 class="system-title">{{module?.Name | translate}}</h4>
            <p class="system-text">{{module?.Description | translate}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
