<!--begin::Portlet-->
<div class="details" *authorization="{actionName:'sales-contract-contract-extention',pageLevel:true}">
  <div class="m-portlet m-0">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h6 class="m-portlet__head-text">
            <a routerLink="/sales/list-contracts" class="back-icon">
              <i class="fa fa-arrow-alt-circle-right "></i>
            </a>{{'Sales.Titles.AddContractExtention' | translate}} </h6>

        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <!--begin::Form-->
      <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="form" (ngSubmit)="createContract()">


        <div class="row mx-0 px-0 tableHeader">
          <label class="form-control-label py-3 mb-0">{{'Sales.Titles.ContractData' | translate}}</label>

        </div>
        <div class="row mx-0 px-0 py-2 tableBody">
          <!-- Ref Number -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label"
                  for="contractNumberRef">{{'Sales.Fields.RefNumber' | translate}}</label>
              </div>
              <div class="col-12 px-0">
                <input class="form-control" id="contractNumberRef"
                  placeholder="{{'Sales.Fields.RefNumber' | translate}}" type="text" formControlName="RefNumber"
                  [ngClass]="{
                    'is-invalid': submitted && form.get('RefNumber').errors
                  }" />
                <div class="invalid-feedback" *ngIf="form.get('RefNumber').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <!-- Contract Date -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="contractDate">{{'Sales.Fields.ContractDate' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-calendar id="contractDate" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="{{ '1900:' + currentYear }}" placeholder="{{'Sales.Fields.ContractDate' | translate}}"
                  formControlName="ContractDate" dateFormat="yy-mm-dd" class="form-control calendar-form-control  p-0 "
                  [ngClass]="{
                    'is-invalid': submitted && form.get('ContractDate').errors
                  }">
                </p-calendar>
                <div class="invalid-feedback" *ngIf="form.get('ContractDate').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <!-- Laborer Reception Date -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label"
                  for="useDate">{{'Sales.Fields.LaborerReceptionDate' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-calendar id="useDate" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="{{ '1900:' + currentYear }}"
                  placeholder="{{'Sales.Fields.LaborerReceptionDate' | translate}}"
                  formControlName="LaborerReceptionDate" dateFormat="yy-mm-dd"
                  class="form-control calendar-form-control  p-0 " (onSelect)="onLaborerReceptionDateSelect($event)"
                  [ngClass]="{
                    'is-invalid':
                      submitted && form.get('LaborerReceptionDate').errors
                  }">
                </p-calendar>
                <div class="invalid-feedback" *ngIf="form.get('LaborerReceptionDate').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <!-- ContractTotalDays -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label"
                  for="contractContractTotalDays">{{'Sales.Fields.ContractPeriod' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input class="form-control" id="contractContractTotalDays"
                  placeholder="{{'Sales.Fields.ContractPeriod' | translate}}" type="number"
                  formControlName="ContractTotalDays" [ngClass]="{
                    'is-invalid': submitted && form.get('ContractTotalDays').errors
                  }" />
                <div class="invalid-feedback" *ngIf="form.get('ContractTotalDays').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <!-- Expected Termination Date -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label"
                  for="contractEndDate">{{'Sales.Fields.ExpectedTerminationDate' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <p-calendar id="contractEndDate" placeholder="{{'Sales.Fields.ExpectedTerminationDate' | translate}}"
                  formControlName="ExpectedTerminationDate" dateFormat="yy-mm-dd"
                  class="form-control calendar-form-control  p-0 " [ngClass]="{
                    'is-invalid':
                      submitted && form.get('ExpectedTerminationDate').errors
                  }">
                </p-calendar>
                <div class="invalid-feedback" *ngIf="form.get('ExpectedTerminationDate').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>



          <!-- Area -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="areaNumber">{{'App.Fields.Area' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <input id="Area" class="form-control" formControlName="Area">
              </div>
            </div>
          </div>

          <!-- Branch -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="branch">{{'App.Fields.Branch' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <input id="Branch" class="form-control" formControlName="Branch">
              </div>
            </div>
          </div>
          <!-- Sales Representative -->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label"
                  for="salesRep">{{'Sales.Fields.SalesRepresentativeName' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete id="salesRep" class="p-0 form-control" field="FullName"
                  (onClear)="onClear('SalesRepresentative')" formControlName="SalesRepresentative"
                  [suggestions]="filteredArray" (completeMethod)="
                      filterArray($event, viewModel?.SalesRepresentatives,'FullName')
                    " [forceSelection]="true" [size]="30" [minLength]="1"
                  placeholder="{{'Sales.Fields.SalesRepresentiveSelect' | translate}}" [dropdown]="true"
                  (onClear)="onClear('SalesRepresentative')" [ngClass]="{
                      'is-invalid':
                        submitted && form.controls.SalesRepresentative.errors
                    }">
                  <ng-template let-SalesRepresentative pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ SalesRepresentative.FullName }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback " *ngIf="form.get('SalesRepresentative').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-------------------------------------- Financial Data -------------------------------------->
        <div class="row mx-0 px-0 tableHeader">
          <label class="form-control-label py-3 mb-0">{{'Sales.Titles.FinancialData' | translate}}</label>

        </div>
        <div class="row mx-0 px-0 py-2 tableBody">
          <!-- Net Value -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="NetValue">{{'Sales.Fields.ContractNetValue' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input class="form-control" id="NetValue" placeholder="{{'Sales.Fields.ContractNetValue' | translate}}"
                  type="number" formControlName="NetValue" />
              </div>
            </div>
          </div>

          <!-- Discount Ratio -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label"
                  for="DiscountRatio">{{'Sales.Fields.DiscountRatio' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input class="form-control" id="DiscountRatio"
                  placeholder="{{'Sales.Fields.DiscountRatio' | translate}}" type="number"
                  formControlName="DiscountRatio" />
              </div>
            </div>
          </div>

          <!-- Discount Amount -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0 ">
              <div class="col-12 px-0">
                <label class="form-control-label"
                  for="DiscountAmount">{{'Sales.Fields.DiscountAmount' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input class="form-control" id="DiscountAmount"
                  placeholder="{{'Sales.Fields.DiscountAmount' | translate}}" type="number"
                  formControlName="DiscountAmount" />
              </div>
            </div>
          </div>

          <!-- Net Value After Discount -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label"
                  for="NetValueAfterDiscount">{{'Sales.Fields.NetValueAfterDiscount' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input class="form-control" id="NetValueAfterDiscount"
                  placeholder="{{'Sales.Fields.NetValueAfterDiscount' | translate}}" type="number"
                  formControlName="NetValueAfterDiscount" />
              </div>
            </div>
          </div>

          <!-- Tax Amount -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="TaxAmount">{{'Sales.Fields.TaxAmount' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input class="form-control" id="TaxAmount" placeholder="{{'Sales.Fields.TaxAmount' | translate}}"
                  type="number" formControlName="TaxAmount" />
              </div>
            </div>
          </div>

          <!-- Net Value After Tax -->
          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label"
                  for="NetValueAfterTax">{{'Sales.Fields.ContractNetValueAfterTax' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input class="form-control" id="NetValueAfterTax"
                  placeholder="{{'Sales.Fields.ContractNetValueAfterTax' | translate}}" type="number"
                  formControlName="NetValueAfterTax" />
              </div>
            </div>
          </div>

          <!-- Customer Info -->
          <div class="col-12" *ngIf="viewModel?.Contract?.Customer">

            <div class="row p-0 m-0 details-card">

              <div class="details-label">
                <span>{{'Sales.Fields.CustomerName' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ viewModel?.Contract?.Customer.FullName }}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.CustomerPhone' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ viewModel?.Contract?.Customer.PhoneNumber }}</span>
              </div>
              <div class="details-label">
                <span>{{'App.Fields.Area' | translate}} </span>
              </div>
              <div class="details-value">
                <span>{{ viewModel?.Contract?.Customer.AreaArabicName }}</span>
              </div>

              <div class="details-label">
                <span> {{'App.Fields.City' | translate}} </span>
              </div>
              <div class="details-value">
                <span>{{ viewModel?.Contract?.Customer.CityArabicName }}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.ContactPerson' | translate}}</span>
              </div>
              <div class="details-value">
                <span> {{viewModel?.Contract?.Customer?.ContactPerson}}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.ContactPersonPhoneNumber' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{viewModel?.Contract?.Customer?.ContactPersonPhoneNumber}}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.ContactPersonAddress' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{viewModel?.Contract?.Customer?.ContactPersonAddress}}</span>
              </div>




            </div>

          </div>


        </div>
        <!-------------------------------------- Bundle Data -------------------------------------->
        <div class="row mx-0 px-0 tableHeader">
          <label class="form-control-label py-3 mb-0">{{'Sales.Titles.BundleData' | translate}}</label>

        </div>
        <div class="row mx-0 px-0 py-2 tableBody">
          <!-- Bundle Details -->
          <div class="col-12" *ngIf="viewModel?.Contract?.Bundle">

            <div class="row p-0 m-0 custom-details-card">
              <div class="details-label">
                <span>{{'Sales.Fields.BundleId' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{viewModel.Contract.Bundle.Id }}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.BundleName' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{viewModel.Contract.Bundle.ArabicName }}</span>
              </div>
              <div class="details-label">
                <span>{{'App.Fields.Nationality' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ viewModel.Contract.Bundle.Nationality.ArabicName }}</span>
              </div>
              <div class="details-label">
                <span>{{'App.Fields.Profession' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ viewModel.Contract.Bundle.Profession.ArabicName }}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.BundlePeriod' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ viewModel.Contract.Bundle.Period }}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.BundleNetVal' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ viewModel.Contract.Bundle.NetVal }}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.NoInstallment' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ viewModel.Contract.Bundle.NoInstallment }}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.DownPayment' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ viewModel.Contract.Bundle.Downpayment }}</span>
              </div>
              <div class="details-label">
                <span>{{'Sales.Fields.TotalTaxAmount' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ viewModel.Contract.Bundle.TaxAmount }}</span>
              </div>
            </div>

          </div>
        </div>

        <!-------------------------------------- Laborer Data -------------------------------------->
        <div class="row mx-0 px-0 tableHeader">
          <label class="form-control-label py-3 mb-0">{{'App.Titles.LaborerFileData' | translate}}</label>

        </div>
        <div class="row mx-0 px-0 py-2 tableBody">
          <!-- LaborerFile -->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="customerNumber">{{'App.Fields.LaborerFile' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete class="p-0 form-control" field="FullName" formControlName="LaborerFile"
                  [suggestions]="filteredArray" (completeMethod)="searchLaborer($event)"
                  (onSelect)="onSelectLaborerFile($event)"
                  (onClear)="onClear('LaborerFile');selectedLaborer = undefined" [forceSelection]="true" [size]="30"
                  [minLength]="1" [delay]="1000" placeholder="{{'App.Fields.LaborerFileSelect' | translate}}"
                  [dropdown]="true" [ngClass]="{'is-invalid': submitted && form.controls.LaborerFile.errors}">
                  <ng-template let-laborerFile pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ laborerFile.FullName }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback " *ngIf="form.get('LaborerFile').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!-- Laborer Details -->
          <div class="col-12" *ngIf="selectedLaborer">
            <div class="row p-0 m-0 custom-details-card">
              <div class="details-label">
                <span>{{'App.Fields.LaborerFileId' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ selectedLaborer.Id }}</span>
              </div>

              <div class="details-label">
                <span>{{'App.Fields.LaborerFileName' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ selectedLaborer.FullName }}</span>
              </div>
              <div class="details-label">
                <span>{{'App.Fields.Nationality' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ selectedLaborer.NationalityArabicName }}</span>
              </div>
              <div class="details-label">
                <span>{{'App.Fields.Religion' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ selectedLaborer.ReligionArabicName }}</span>
              </div>
              <div class="details-label">
                <span>{{'App.Fields.HouseAddress' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ selectedLaborer.HouseArabicName }}</span>
              </div>
              <div class="details-label">
                <span>{{'App.Fields.Branch' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ selectedLaborer.BranchArabicName }}</span>
              </div>
              <div class="details-label">
                <span>{{'App.Fields.OfficeNumber' | translate}}</span>
              </div>
              <div class="details-value">
                <span>{{ selectedLaborer.LaborerOfficeNumber }}</span>
              </div>
            </div>

          </div>

          <!-------------------------------------- footer -------------------------------------->


          <div class="col-12 ml-lg-auto text-center m-form__actions m-form__actions p-3">
            <button class="btn btn-save-cancel mb-1 btn-brand" type="submit" [disabled]="disableControl">
              {{'App.Buttons.Save' | translate}}</button>&nbsp;&nbsp;
            <button [routerLink]="['/sales/list-contracts']" class="btn btn-save-cancel mb-1 btn-secondary"
              type="button">
              {{'App.Buttons.Cancel' | translate}}
            </button>

          </div>

        </div>

      </form>
    </div>
    <!--end::Form-->
  </div>
</div>
<!-- Progress Spinner -->
<app-shared-progress-spinner *ngIf="progressSpinner"></app-shared-progress-spinner>
