<section class="addemp_bx" *ngIf="selectLabor" >
  <div class="header_bx">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-6">
        <h1>{{"Sales.Titles.AvailableLabors" | translate}}</h1>
      </div>
      <div class="col-12 col-lg-6 col-md-6">
        <button  (click)="getBranchesLaborers()" class="btn">{{ "Sales.Buttons.BranchsLaborers" | translate }}</button>
      </div>

    </div>
  </div>
  <article>
    <div class="col-12 list px-0 mb-3">
      <form
        class="m-form m-form--fit m-form--label-align-right"
      >
        <!-- Add search -->
        <div class="tableBody row py-2 mx-0 px-0">
          <!-- Search -->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <input
                  class="form-control"
                  placeholder="{{
                    'Sales.Fields.searchHere' | translate
                  }}"
                  type="text"
                  [(ngModel)]="searchTerm"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0 mt-2">
              <div class="col-12 px-0 mt-4">
                <button
                  class="btn btn-save-cancel btn-brand"
                  type="button"
                  style="margin-top: -31px"
                  (click)="searchLaborer()"
                >
                  {{ "App.Buttons.Search" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
    <p-table #rr [columns]="laborerCols" [value]="filteredLaborerFileArray" [(selection)]="selectedLaborer"
    dataKey="Id" [lazy]="true" (onLazyLoad)="loadLabores($event)" [paginator]="true" 
    [rows]="10" [totalRecords]="totalRecords" [scrollable]="true" class="table" frozenWidth="6.5%">
    <ng-template pTemplate="frozenbody" let-dataItems>
      <tr>
        <td>
          <span class="d-flex justify-content-center">
            <span class="d-inline-block">
              <a data-toggle="modal" data-target="#detailsModal" class="dropdown-item cursor-pointer px-1"
                (click)="getLaborerDetails(dataItems['Id'])">
                <i class="la la-info-circle" style="font-size: 2em;"
                  title='{{"App.Buttons.Details" | translate }}'></i>
              </a>
            </span>
          </span>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="frozenheader">
      <tr class="frozeheader">
        <th>{{ "App.Fields.Actions" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="padding: 0.58em 0.857em; width: 40px;"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="padding: 0.58em 0.857em">
          {{ col.header | translate }}
          <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td style="width: 40px;">
          <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
        </td>
        <td *ngFor="let col of columns">{{ rowData[col.field] }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr *ngIf="filteredLaborerFileArray?.length === 0">
        <td [attr.colspan]="columns?.length" class="empty-grid-table">
          <span class="emp-msg">
            {{ 'App.Fields.NoData' | translate }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  </article>
  <div class="col-12 m-form__actions m-form__actions ml-lg-auto text-center p-3">
    <button (click)="assign()" class="btn btn-save-cancel btn-brand mb-1">
      {{ "App.Buttons.Save" | translate }}</button>&nbsp;&nbsp;
    <button (click)="cancel()" class="btn btn-save-cancel btn-secondary mb-1"
      type="button">
      {{ "App.Buttons.Cancel" | translate }}
    </button>
  </div>
</section>
<!-- new ui sub main section-->
<!-- switch to hide and show betwen 2 sections (addemp_bx) -->
<app-other-branch-labors (close)="selectLabor=true" [serviceRequest]="serviceRequest" *ngIf="!selectLabor"></app-other-branch-labors>

<app-shared-progress-spinner  [hidden]="!progressSpinner"></app-shared-progress-spinner>