.customTable td{

    border: 0;
    font-size: 11px;
    padding: 0.6em 0.857em;
    height: 33.5px !important;
    max-width: 150px;
    vertical-align: middle;
    word-break: break-all !important;
    width: 150px;
    text-align: center;
  
  }