<div class="details cv-modal"  *authorization="{actionName: 'Finance-CustomerAccount-ShowMessages',pageLevel: true}">
  <div class="modal-dialog modal-lg modalW90">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'App.Fields.CustomerNotifications' | translate}}</h5>
        <button type="button"  (click)="onCancel()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--begin::Form-->
      <div class="modal-body">
        <div  class="row tableBody py-2 px-0 mx-0">
          <!-- table  -->

          <div class="col-12 list px-0 mb-3 box-shadow" >
            <p-table  #rr [columns]="logCols" [value]="dataLogs"
              dataKey="Id"  [paginator]="true"
              [rows]="dataLogs?.length"
              [totalRecords]="dataLogs?.length"
              [scrollable]="true" class="customTable" >

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="padding: 0.58em 0.857em" [hidden]="col.hidden">
                    {{ col.header | translate }}
                    <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <!-- <td style="width: 40px;">
                    <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                  </td> -->
                  <td class="myTd" style="word-break: break-all;" *ngFor="let col of columns"  [hidden]="col.hidden">
                    <!-- {{ rowData[col.field] }} -->
                    {{ !col.pipe ? (rowData[col.field] === 'NOIFY1')?'إشعار1':(rowData[col.field] === 'NOIFY2')?'إشعار2':(rowData[col.field] === 'NOIFY3')?'إشعار3': rowData[col.field] :  (rowData[col.field] | date: col.pipeFormat)  }}

                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr *ngIf="dataLogs?.length === 0">
                  <td [attr.colspan]="columns?.length" class="empty-grid-table">
                    <span class="emp-msg">
                      {{ 'App.Fields.NoData' | translate }}

                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="col-12 m-form__actions m-form__actions ml-lg-auto text-center p-3">
            <button class="btn btn-save-cancel btn-secondary mb-1" (click)="onCancel()"
              type="button" data-dismiss="modal" >
              {{ "App.Buttons.Cancel" | translate }}
            </button>
          </div>
        </div>

      </div>
      <!--
      <div class="modal-footer"></div> -->
      <!--end::Form-->
    </div>
  </div>
</div>

