<!--begin::Portlet-->
<div class="m-portlet m-0">
  <div class="modal-header">
    <h6 class="modal-title" id="exampleModalLabel">{{ 'Receipts.Titles.DownPaymentReceiptCreatePage' | translate}}</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--begin::Form-->
  <!--begin::Form-->
  <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="form" (ngSubmit)="createdownpaymentReciept()"
    autocomplete="false">
    <div class="modal-body">
      <div class="row mx-0 px-0">
        <div *ngIf="!DateValidation" class="col-12 px-0">
          <div class="alert alert-warning alert-dismissible fade show py-3" role="alert"
            *ngIf="contract?.IsVIPCustomer">
            <button type="button" class="close" style="color: #000" data-dismiss="alert" aria-label="Close"></button>
            <strong class="d-block">{{'App.Fields.Important' | translate}}</strong>
            <span class="d-block">{{'Receipts.Fields.VIPCustomerNote' | translate}}
              <button type="button" (click)="skipDownpayment(contract.Id)"
                class="btn btn-save-cancel mb-1 btn-brand">{{'App.Buttons.Skip' | translate}}</button>
            </span>
          </div>
        </div>
        <!-- Warning Msg -->
        <div *ngIf="DateValidation" class="col-12">
          <div class="alert alert-warning alert-dismissible fade show py-3" role="alert">
            <button type="button" class="close" style="color: #000" data-dismiss="alert" aria-label="Close"></button>

            <span class="d-block">{{'Receipts.Fields.DateValidation' | translate}}
            </span>
          </div>
        </div>
        <div class="row mx-0 px-0">

        </div>
        <!--Start Inputs-->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="contractNumber" class="form-control-label">
                {{ 'Receipts.Fields.ContractId' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <input type="text" formControlName="Contract" class="form-control" id="contractNumber"
                placeholder="{{ 'Receipts.Fields.ContractId' | translate}}" [disabled]="true">
            </div>
          </div>
        </div>

        <!-- Customer -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="customerNumber"
                class="form-control-label">{{ 'Receipts.Fields.CustomerName' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <input class="form-control" id="customerNumber" type="text" formControlName="Customer"  [disabled]="true" />
            </div>
          </div>
        </div>

        <!-- SalesRepresentative -->
        <div *ngIf="this.contract?.SalesRepresentativeId && this.contract?.SalesRepresentativeName"
          class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="rep" class="form-control-label">{{ 'Receipts.Fields.SalesRepresentive' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <input type="text" formControlName="SalesRepresentative" class="form-control" id="rep"
                placeholder="{{ 'Receipts.Fields.SalesRepresentive' | translate}}" [disabled]="true">
            </div>
          </div>
        </div>


        <!-- downpayment -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="cost" class="form-control-label">{{ 'Receipts.Fields.DownPaymentValue' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <input [(ngModel)]="downpayment" [ngModelOptions]="{standalone: true}" type="number" class="form-control"
                id="cost" placeholder="{{ 'Sales.Fields.DownPayment' | translate}}" [disabled]="true">
            </div>
          </div>
        </div>

        <!-- DocumentDate -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="date" class="form-control-label">{{ 'Receipts.Fields.ReciptDate' | translate}}</label>
              <span class="required">*</span>
            </div>
            <div class="col-12 px-0">
              <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="{{ '1900:' + currentYear }}"
                placeholder="{{ 'Receipts.Fields.ReciptDate' | translate}}" formControlName="DocumentDate"
                dateFormat="yy-mm-dd" class="form-control calendar-form-control  p-0 " [ngClass]="{
                  'is-invalid':
                    submitted && form.get('DocumentDate').errors
                }">
              </p-calendar>
              <div class="invalid-feedback" *ngIf="form.get('DocumentDate').errors?.required">
                {{'App.Fields.RequiredField' | translate}}
              </div>
            </div>
          </div>
        </div>

        <!-- RefNumber -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="RefNumber"
                class="form-control-label">{{ 'Receipts.Fields.InvoiceRefNumber' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <input class="form-control" id="RefNumber" type="text" formControlName="RefNumber" />
            </div>
          </div>
        </div>



        <!-- ContractDownPaymentAmount -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="cost"
                class="form-control-label">{{ 'Receipts.Fields.DownPaymentNetValue' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <input formControlName="ContractDownPaymentAmount" type="number" class="form-control" id="cost"
                placeholder=" {{ 'Receipts.Fields.DownPaymentNetValue' | translate}}" [ngClass]="{
                  'is-invalid': submitted && form.get('ContractDownPaymentAmount').errors
                }" (input)="calculate()">
              <div class="invalid-feedback "
                *ngIf="form.get('ContractDownPaymentAmount').errors?.required && submitted">
                {{'App.Fields.RequiredField' | translate}}
              </div>
            </div>
          </div>
        </div>

        <!-- EscapeInsuranceAmount -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="cost" class="form-control-label"> {{ 'Receipts.Fields.InsuranceAgainstEscape' | translate}}
              </label>
            </div>
            <div class="col-12 px-0">
              <input formControlName="EscapeInsuranceAmount" type="number" class="form-control" id="cost"
                placeholder="{{ 'Receipts.Fields.InsuranceAgainstEscape' | translate}}" (input)="calculate()">
            </div>
          </div>
        </div>

        <!-- ContractInsuranceAmount -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="cost" class="form-control-label">{{ 'Receipts.Fields.ContractInsurance' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <input formControlName="ContractInsuranceAmount" type="number" class="form-control" id="cost"
                placeholder="{{ 'Receipts.Fields.ContractInsurance' | translate}}" (input)="calculate()">
            </div>
          </div>
        </div>

        <!-- totalVal -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="cost" class="form-control-label">{{ 'Receipts.Fields.Total' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <input [(ngModel)]="totalVal" [ngModelOptions]="{standalone: true}" type="number" class="form-control"
                id="cost" placeholder="{{ 'Receipts.Fields.Total' | translate}}" disabled>
            </div>
          </div>
        </div>

        <!-- paymentMethod -->
        <div class="row">
          <div class="col-12">
            <h5 class="d-inline">{{ 'Receipts.Fields.PaymentMethod' | translate}}</h5>
            <span class="required">*</span>

          </div>
          <div class="col-12">
            <!--CheckBox 12-->
            <div class="row mx-0 px-0">
              <div class="form-group m-form__group row">
                <div class="col-12 px-0">
                  <div class="m-checkbox-inline">
                    <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand fs-13">
                      <input formControlName="IsCashBox" type="checkbox"
                        (change)="IsCashOrDeposit()" />{{ 'Receipts.Fields.Cash' | translate}}
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 px-0">
              <!--Rakam El5zna 6-->
              <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group m-form__group row mx-0 px-0">
                  <div class="col-12 mx-auto px-0">
                    <label for="safeNumber" class="form-control-label">
                      {{ 'Receipts.Fields.SafeNumber' | translate}}</label>
                    <span class="required">*</span>
                  </div>
                  <div class="col-12 px-0">
                    <p-autoComplete formControlName="CashBox" class="p-0 form-control" field="FullArabicName"
                      [suggestions]="filteredArray" [readonly]="true"
                      (completeMethod)="filterArray($event, CashBoxs)" [forceSelection]="true" [size]="30"
                      [minLength]="1" placeholder="{{ 'Receipts.Fields.SafeNumber' | translate}}"
                      [dropdown]="!DateValidation" [ngClass]="{
                        'is-invalid': submitted && form.get('CashBox').errors
                      }">
                      <ng-template let-CashBox pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div>
                            {{ CashBox.FullArabicName }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                    <div class="invalid-feedback " *ngIf="form.get('CashBox').errors?.required">
                      {{'App.Fields.RequiredField' | translate}}
                    </div>
                  </div>
                </div>
              </div>

              <!--  CreditCardType -->
              <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group m-form__group row mx-0 px-0">
                  <div class="col-12 mx-auto px-0">
                    <label for="CreditCardType"
                      class="form-control-label">{{ 'Receipts.Fields.CreditCardType' | translate}} </label>
                    <span class="required">*</span>
                  </div>
                  <div class="col-12 px-0">
                    <p-autoComplete formControlName="CreditCardType" class="p-0 form-control" field="FullArabicName"
                      [suggestions]="filteredArray" (completeMethod)="filterArray($event, viewModel?.CreditCardTypes)"
                      [forceSelection]="true" [size]="30" [minLength]="1" [readonly]="true"
                      placeholder="{{ 'Receipts.Fields.CreditCardType' | translate}}" [dropdown]="!DateValidation"
                      [ngClass]="{
                  'is-invalid': submitted && form.get('CreditCardType').errors
                }">
                      <ng-template let-CreditCardType pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div>
                            {{ CreditCardType.FullArabicName }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                    <div class="invalid-feedback " *ngIf="form.get('CreditCardType').errors?.required && submitted">
                      {{'App.Fields.RequiredField' | translate}}
                    </div>
                  </div>
                </div>
              </div>

              <!--Sadad Value 6-->
              <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group m-form__group row mx-0 px-0">
                  <div class="col-12 mx-auto px-0">
                    <label for="paymentValue"
                      class="form-control-label">{{ 'Receipts.Fields.PayedCash' | translate}}</label>
                    <span class="required">*</span>
                  </div>
                  <div class="col-12 px-0">
                    <input formControlName="CashBoxAmount" type="number" class="form-control" id="paymentValue"
                      placeholder="{{ 'Receipts.Fields.PayedCash' | translate}}" (input)="calculate()">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <!--CheckBox 12-->
            <div class="row mx-0 px-0">
              <div class="form-group m-form__group row">
                <div class="col-12 px-0">
                  <div class="m-checkbox-inline">
                    <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                      <input formControlName="IsBankDeposit" type="checkbox"
                        (change)="IsCashOrDeposit()" />{{ 'Receipts.Fields.BankOrTransfer' | translate}}
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 px-0">
              <!--BankAccount-->
              <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group m-form__group row mx-0 px-0">
                  <div class="col-12 mx-auto px-0">
                    <label for="transferSafeNumber"
                      class="form-control-label">{{ 'Receipts.Fields.BankAccountNumber' | translate}}</label>
                    <span class="required">*</span>
                  </div>
                  <div class="col-12 px-0">
                    <p-autoComplete formControlName="BankAccount" class="p-0 form-control" field="FullArabicName"
                      [suggestions]="filteredArray" (completeMethod)="filterArray($event, viewModel?.BankAccounts)"
                      [forceSelection]="true" [size]="30" [minLength]="1" [readonly]="true"
                      placeholder="{{ 'Receipts.Fields.BankAccountNumber' | translate}}" [dropdown]="true" [ngClass]="{
                          'is-invalid': submitted && form.get('BankAccount').errors
                        }">
                      <ng-template let-BankAccount pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div>
                            {{ BankAccount.FullArabicName }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                    <div class="invalid-feedback " *ngIf="form.get('BankAccount').errors?.required && submitted">
                      {{'App.Fields.RequiredField' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <!--Sadad Value 6-->
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group m-form__group row mx-0 px-0">
                  <div class="col-12 mx-auto px-0">
                    <label for="transferPaymentValue"
                      class="form-control-label">{{ 'Receipts.Fields.DepositValue' | translate}}</label>
                    <span class="required">*</span>
                  </div>
                  <div class="col-12 px-0">
                    <input type="number" formControlName="BankDepositAmount" class="form-control"
                      id="transferPaymentValue" placeholder="{{ 'Receipts.Fields.DepositValue' | translate}}"
                      (input)="calculate()">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-12">
          <label class="form-control-label" style="color: red"
            *ngIf="form.get('ContractDownPaymentAmount').value < this.downpayment">{{ 'Receipts.Fields.ReceiptNotLowerDownPayment' | translate}}</label>
          <label class="form-control-label" style="color: red"
            *ngIf="this.totalVal > form.get('BankDepositAmount').value + form.get('CashBoxAmount').value">{{ 'Receipts.Fields.ReceiptValueLowerValue' | translate}}</label>
            <label class="form-control-label" style="color: red"
            *ngIf="this.totalVal < form.get('BankDepositAmount').value + form.get('CashBoxAmount').value">{{ 'Receipts.Fields.ReceiptValueMoreDownPayment' | translate}}</label>
        </div>
        <!-- ArabicRemarks -->
        <div class="col-12">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 mx-auto px-0">
              <label for="remark" class="form-control-label">{{'App.Fields.Notes' | translate}}</label>
            </div>
            <div class="col-12 px-0">
              <textarea formControlName="ArabicRemarks" class="form-control" id="remark"></textarea>
            </div>
          </div>
        </div>


        <!--IsTermAgreements-->
        <div class="col-12" *ngIf="!contract?.IsTermAgreements">
          <div class="form-group m-form__group row mx-0 px-0">
            <div class="col-12 px-0">
              <div class="m-checkbox-inline">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                  <input formControlName="IsTermAgreements"
                    type="checkbox" />{{ 'Receipts.Fields.IsTermAgreements' | translate}}
                  <span></span>
                </label>
                <div class="invalid-Skip" *ngIf="!this.form.get('IsTermAgreements').value && skipClicked">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 px-0" *ngIf="contract?.IsTermAgreements">
          <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            {{ 'Receipts.Titles.IsTermAgreements' | translate}}
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="m-auto">
        <button class="btn btn-save-cancel mb-1 btn-brand"
          [disabled]="!form.controls['IsTermAgreements'].value || form.disabled"
          type="submit">{{'App.Buttons.Save' | translate}}</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-save-cancel mb-1 btn-secondary"
          (click)="reset()">{{'App.Buttons.Cancel' | translate}}</button>

      </div>
    </div>
  </form>
  <!--end::Form-->
</div>
<!-- Progress Spinner -->
<app-shared-progress-spinner *ngIf="progressSpinner"></app-shared-progress-spinner>
