<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="exampleModalLabel">{{'Sales.Titles.EndContract' | translate}}</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--begin::Form-->

    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="form"
      (ngSubmit)="StopContractForTermination()">
      <div class="modal-body">
        <div class="row mx-0 px-0">

          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label">{{'Sales.Fields.ContractEndDate' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-calendar id="birthDate" placeholder="{{'Sales.Fields.ContractEndDate' | translate}}"
                  formControlName="ContractStopedDate" dateFormat="yy-mm-dd"
                  class="form-control calendar-form-control  p-0 " [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="{{ '1900:' + toYear }}" [ngClass]="{
                    'is-invalid': submitted && form.get('ContractStopedDate').errors
                  }">
                </p-calendar>
                <div class="invalid-feedback" *ngIf="form.get('ContractStopedDate').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>


          <!-- السبب-->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label">{{'App.Fields.LaborerFileStatusName' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete id="Customer" class="p-0 form-control" field="ArabicName"
                  formControlName="LaborerStatusId" [suggestions]="filteredArray" (completeMethod)="
                    filterArray($event,  viewModel?.LaborerStatusesVM)
                  " (onClear)="onClear('FromBranchId')" [forceSelection]="true" [size]="30" [minLength]="1"
                  placeholder="{{'App.Fields.LaborerFileStatusName' | translate}}" [dropdown]="true" [ngClass]="{
                    'is-invalid': submitted && form.get('LaborerStatusId').errors
                  }">
                  <ng-template let-Branch pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ Branch.ArabicName }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback " *ngIf="form.get('LaborerStatusId').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label">{{'Sales.Fields.ContractEndReason' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete id="Customer" class="p-0 form-control" field="ArabicName"
                  (onSelect)="onselectReason($event)" formControlName="TerminationReasonId"
                  [suggestions]="filteredArray" (completeMethod)="
                      filterArray($event,viewModel?.TerminationReasonsVM)
                    " (onClear)="onClear('TerminationReasonId')" [forceSelection]="true" [size]="30" [minLength]="1"
                  placeholder="{{'Sales.Fields.ContractEndReasonSelect' | translate}}" [dropdown]="true" [ngClass]="{
                      'is-invalid': submitted && form.get('TerminationReasonId').errors
                    }">
                  <ng-template let-Reason pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ Reason.ArabicName }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback " *ngIf="form.get('TerminationReasonId').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-12" *authorization="'sales-contract-terminateWithDebit'">
            <!--CheckBox IsCashBox -->
            <div class="col-12 px-0">
              <div class="form-group m-form__group row mx-0 px-0">
                <div class="col-12 px-0">
                  <div class="m-checkbox-inline">
                    <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                      <input formControlName="TerminationConfirm" type="checkbox"
                         />{{'Receipts.Fields.TerminationConfirm' | translate}}
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-4 pb-4">
            <span class="mb-3" style="color: red ">
              {{'Sales.Fields.ApplyContractPenalities' | translate}}
            </span>
            <!-- <div class="col-12 mt-4" *ngIf="selectedpenalities">
              <div class="m-portlet__body box-shadow">
                <div class="row p-0 m-0">
                  <div class="col-lg-12 col-12 pb-4 mt-4" *ngFor="let penality of selectedpenalities">
                    <span class="d-inline-block mr-4"
                      style="min-width: 150px; color: #6f727d;">{{penality?.PenalityField?.ArabicName}}</span>
                    <span class="d-inline-block ml-4"
                      style="color: #6f727d; font-size: 1rem">{{ penality?.Value }}</span>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <div class="m-auto">
          <button type="submit"
            class="btn btn-save-cancel mb-1 btn-brand">{{'App.Buttons.Save' | translate}}</button>&nbsp;&nbsp;
          <button type="button" data-dismiss="modal"
            class="btn btn-save-cancel mb-1 btn-secondary">{{'App.Buttons.Cancel' | translate}}</button>
        </div>

      </div>
    </form>

    <!--end::Form-->
  </div>
</div>
<app-shared-progress-spinner *ngIf="progressSpinner"></app-shared-progress-spinner>
