<!--begin::Portlet-->
<div class="details" *authorization="{actionName:'sales-bundle-create',pageLevel:true}">
  <div class="m-portlet m-0 ">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h6 class="m-portlet__head-text">
            <a routerLink="/sales/list-bundles" class="back-icon">
              <i class="fa fa-arrow-alt-circle-right "></i>
            </a>
            {{'Sales.Titles.BundleCreate' | translate}}
          </h6>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <!--begin::Form-->
      <form class="m-form m-form--fit m-form--label-align-right" autocomplete="off" [formGroup]="form"
        (ngSubmit)="createBundle()">
        <div class="row tableBody mt-2 py-2 mx-0 px-0">
          <!-- اسم الباقه  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="bundleDesc" class="form-control-label">{{'Sales.Fields.BundleName' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <input type="text" class="form-control" id="bundleDesc"
                  placeholder="{{'Sales.Fields.BundleName' | translate}}" formControlName="ArabicName" [ngClass]="{
                  'is-invalid': submitted && form.get('ArabicName').errors
                }" />
                <div class="invalid-feedback" *ngIf="form.get('ArabicName').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!-- مده الباقه  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="bundlePeriod" class="form-control-label">
                  {{'Sales.Fields.BundlePeriod' | translate}}
                </label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <select class="form-control" id="bundlePeriod" formControlName="Period"
                  [ngClass]="{'is-invalid': submitted && form.get('Period').errors}">
                  <option value="30">30</option>
                  <option value="60">60</option>
                  <option value="90">90</option>
                  <option value="120">120</option>
                  <option value="150">150</option>
                  <option value="180">180</option>
                  <option value="210">210</option>
                  <option value="240">240</option>
                  <option value="270">270</option>
                  <option value="300">300</option>
                  <option value="330">330</option>
                  <option value="360">360</option>
                  <option value="390">390</option>
                  <option value="420">420</option>
                  <option value="450">450</option>
                  <option value="480">480</option>
                  <option value="510">510</option>
                  <option value="540">540</option>
                  <option value="570">570</option>
                  <option value="600">600</option>
                  <option value="270">630</option>
                  <option value="660">660</option>
                  <option value="690">690</option>
                  <option value="720">720</option>
                </select>
                <div class="invalid-feedback" *ngIf="form.get('Period').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
                <div class="invalid-feedback" *ngIf="form.get('Period').errors?.min">
                  {{'App.Fields.GreaterThanZero' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!-- الدفعه المقدمه  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="Downpayment" class="form-control-label">
                  {{'Sales.Fields.DownPayment' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <input type="number" min="0" class="form-control" id="Downpayment"
                  placeholder="{{'Sales.Fields.DownPayment' | translate}}" formControlName="Downpayment" [ngClass]="{
                  'is-invalid': submitted && form.get('Downpayment').errors
                }" />
                <div class="invalid-feedback" *ngIf="form.get('Downpayment').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
                <div class="invalid-feedback" *ngIf="form.get('Downpayment').errors?.min">
                  {{'App.Fields.GreaterThanZero' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!-- تامين ضد التعافد  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="ContractInsuranceAmount" class="form-control-label">
                  {{'Receipts.Fields.ContractInsurance' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <input type="number" min="0" class="form-control" id="ContractInsuranceAmount"
                  placeholder="{{'Receipts.Fields.ContractInsurance' | translate}}"
                  formControlName="ContractInsuranceAmount" [ngClass]="{
                  'is-invalid': submitted && form.get('ContractInsuranceAmount').errors
                }" />
                <div class="invalid-feedback" *ngIf="form.get('ContractInsuranceAmount').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
                <div class="invalid-feedback" *ngIf="form.get('ContractInsuranceAmount').errors?.min">
                  {{'App.Fields.GreaterThanZero' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!-- تامين ضد الهروب  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="Downpayment" class="form-control-label">
                  {{'Sales.Fields.EscapeInsuranceAmount' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <input type="number" min="0" class="form-control" id="EscapeInsuranceAmount"
                  placeholder="{{'Sales.Fields.EscapeInsuranceAmount' | translate}}"
                  formControlName="EscapeInsuranceAmount" [ngClass]="{
                  'is-invalid': submitted && form.get('EscapeInsuranceAmount').errors
                }" />
                <div class="invalid-feedback" *ngIf="form.get('EscapeInsuranceAmount').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
                <div class="invalid-feedback" *ngIf="form.get('EscapeInsuranceAmount').errors?.min">
                  {{'App.Fields.GreaterThanZero' | translate}}
                </div>
              </div>
            </div>
          </div>

          <!-- عدد الاقساط  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="NoInstallment" class="form-control-label">{{'Sales.Fields.NoInstallment' |
                  translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <input (input)="calculateBundle()" type="number" class="form-control" id="NoInstallment"
                  placeholder="{{'Sales.Fields.NoInstallment' | translate}}" formControlName="NoInstallment" [ngClass]="{
                  'is-invalid': submitted && form.get('NoInstallment').errors
                }" />
                <div class="invalid-feedback" *ngIf="form.get('NoInstallment').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
                <div class="invalid-feedback" *ngIf="form.get('NoInstallment').errors?.min">
                  {{'App.Fields.GreaterThanZero' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!-- تاريخ البدء  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 mx-auto px-0">
                <label for="ValidFrom" class="form-control-label">{{'Sales.Fields.ActivationDate' | translate}}</label>

              </div>
              <div class="col-12 px-0">
                <p-calendar [readonlyInput]="true" [showButtonBar]="true" (onClearClick)="DatesChanged()"
                  (onSelect)="DatesChanged()" [maxDate]="ValidFromMaxDate" [monthNavigator]="true"
                  [yearNavigator]="true" yearRange="{{ '1900:' + toYear }}" formControlName="ValidFrom"
                  dateFormat='yy-mm-dd' class="form-control calendar-form-control  p-0 ">
                </p-calendar>

              </div>
            </div>
          </div>
          <!-- تاريخ الانتهاء  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="ValidTo" class="form-control-label">{{'Sales.Fields.DeactivationDate' | translate}}</label>

              </div>
              <div class="col-12 px-0">
                <p-calendar [readonlyInput]="true" (onClearClick)="DatesChanged()" [showButtonBar]="true"
                  [minDate]="ValidToMinDate" (onSelect)="DatesChanged()" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="{{ '1900:' + toYear }}" formControlName="ValidTo" dateFormat='yy-mm-dd'
                  class="form-control calendar-form-control  p-0 ">
                </p-calendar>
              </div>
            </div>
          </div>
          <!-- التكلفه الشهريه  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="NoInstallment" class="form-control-label">{{'Sales.Fields.MonthlyCost' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input [(ngModel)]="MonthlyCost" [ngModelOptions]="{ standalone: true }" type="number" min="0"
                  class="form-control" placeholder="{{'Sales.Fields.MonthlyCost' | translate}}" readonly disabled />
              </div>
            </div>
          </div>
          <!-- قيمه قبل الضربه  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="NetVal" class="form-control-label">{{'Sales.Fields.BundleNetVal' | translate}}</label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input [(ngModel)]="NetVal" [ngModelOptions]="{ standalone: true }" type="number" min="0"
                  class="form-control" id="NetVal" placeholder="{{'Sales.Fields.BundleNetVal' | translate}}" readonly
                  disabled />
              </div>
            </div>
          </div>
          <!-- قيمه الضريبه  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="Taxes" class="form-control-label">
                  {{'Sales.Fields.TotalTaxAmount' | translate}}
                </label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input [(ngModel)]="TotalTaxAmount" [ngModelOptions]="{ standalone: true }" type="number" disabled
                  readonly disabled class="form-control" id="Taxes"
                  placeholder="  {{'Sales.Fields.TotalTaxAmount' | translate}}" />
              </div>
            </div>
          </div>
          <!-- قيمه بعد الضريبه  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="netValAfterTax" class="form-control-label">
                  {{'Sales.Fields.NetValAfterTax' | translate}}
                </label>
                <!-- <span class="required">*</span> -->
              </div>
              <div class="col-12 px-0">
                <input readonly [(ngModel)]="NetValAfterTax" [ngModelOptions]="{ standalone: true }" type="number"
                  disabled class="form-control" id="netValAfterTax"
                  placeholder="{{'Sales.Fields.NetValAfterTax' | translate}}" />
              </div>
            </div>
          </div>
          <!-- الجنسيه  -->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="nationality" class="form-control-label">{{'App.Fields.Nationality' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete field="FullName" (onClear)="onClear('NationalityId')" class="p-0 form-control"
                  formControlName="NationalityId" [suggestions]="filteredArray"
                  (completeMethod)="filterArray($event, viewModel?.Nationalities)" [forceSelection]="true" [size]="30"
                  [minLength]="1" placeholder="{{'App.Fields.NationalitySelect' | translate}}" [dropdown]="true"
                  [ngClass]="{
                  'is-invalid':
                    submitted && form.get('NationalityId').errors?.required
                }">
                  <ng-template let-Nationality pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ Nationality.FullName }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback position-absolute" *ngIf="form.get('NationalityId').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!-- المهنه -->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="profession" class="form-control-label">{{'App.Fields.Profession' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete field="FullName" class="p-0 form-control" (onClear)="onClear('ProfessionId')"
                  formControlName="ProfessionId" [suggestions]="filteredArray"
                  (completeMethod)="filterArray($event, viewModel?.Professions)" [forceSelection]="true" [size]="30"
                  [minLength]="1" placeholder="{{'App.Fields.ProfessionSelect' | translate}}" [dropdown]="true"
                  [ngClass]="{
                  'is-invalid':
                    submitted && form.get('ProfessionId').errors?.required
                }">
                  <ng-template let-Profession pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ Profession.FullName }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback position-absolute" *ngIf="form.get('ProfessionId').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!-- البنود  -->
          <div class="col-12">
            <h6 class="m-form__heading-title mb-0">{{'Sales.Titles.CostElements' | translate}}</h6>
            <div class="m-form__seperator m-2"></div>
          </div>
          <!-- البند  -->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="">{{'Sales.Fields.CostElement' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete (onClear)="Clear()" class="p-0 form-control" field="FullArabicName"
                  [suggestions]="filteredArray" (onSelect)="onSelectItem($event)"
                  (completeMethod)="filterArray($event, viewModel?.CostElementsItems)" [forceSelection]="true"
                  [size]="30" [minLength]="1" placeholder="{{'Sales.Fields.CostElementSelect' | translate}}"
                  [dropdown]="true" [ngClass]="{'is-invalid': selected && !selectedItem}">
                  <ng-template let-CostElements pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ CostElements.FullArabicName }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback position-absolute" *ngIf="!selectedItem && selected">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!-- قيمه البند  -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class=" form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="NoInstallment" class="form-control-label">{{'Sales.Fields.CostElementAmount' |
                  translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <input [(ngModel)]="Amount" [ngModelOptions]="{ standalone: true }" type="number" min="0"
                  class="form-control" placeholder="{{'Sales.Fields.CostElementAmount' | translate}}" [ngClass]="{
                     'is-invalid' :
                     selected && (Amount <= 0 || Amount === undefined)
              }" />
                <div class="invalid-feedback" *ngIf="(Amount <= 0 || Amount === undefined) && selected">
                  {{'App.Fields.GreaterThanZero' | translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-12" *ngIf="false">
            <div class=" form-group m-form__group row mx-0 py-2 px-0" style="align-items: baseline">
              <div class="col-12 mt-4">
                <label class="m-checkbox">
                  <input type="checkbox" [(ngModel)]="NonDeductible" [ngModelOptions]="{ standalone: true }" />
                  {{'Sales.Fields.NonDeductible'| translate}}
                  <span></span>
                </label>
              </div>
            </div>
          </div>

          <!-- btn -->
          <div class="col-1 mb-2">
            <div class="form-group m-form__group row mx-0 px-0 mt-lg-2 mt-0 pt-0">
              <div class="col-12 px-0 mt-lg-4 mt-0">
                <i (click)="addCostElement()" class="la la-plus add-icon cursor-pointer"
                  title="{{'App.Buttons.Add' | translate}}"></i>
              </div>
            </div>
          </div>
          <!-- table  -->
          <div class="col-12 mb-2" *ngIf="costElements">
            <div class="box-shadow">
              <p-table [columns]="costElementCols" [value]="costElements" [paginator]="true" [rows]="5" dataKey="Id"
                [totalRecords]="costElements.length" [autoLayout]="true" [responsive]="true" class="full-width"
                (onEditComplete)="calculateBundleWithCostElements($event?.data)"
                (onEditCancel)="calculateBundleWithCostElements($event?.data)">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{ col.header | translate }}
                      <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                      <ng-container *ngIf="
                          col.field === 'ActionButtons';
                          then render_action_buttons;
                          else render_data_field
                        "></ng-container>
                      <ng-template #render_action_buttons>
                        <a class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                          title="{{'App.Buttons.Delete' | translate}}" (click)="removeItem(rowData)">
                          <i class="flaticon-delete"></i>
                        </a>
                      </ng-template>
                      <ng-template #render_data_field>
                        <ng-container *ngIf="
                          col.field === 'Amount';
                          then editable_col;
                          else fixed_col
                        "></ng-container>
                        <ng-template #fixed_col>
                          <ng-container *ngIf=" col.field === 'NonDeductible'">
                            <input type="checkbox" [(ngModel)]="rowData[col.field]"
                              [ngModelOptions]="{ standalone: true }" />
                          </ng-container>
                          <ng-container *ngIf=" col.field !== 'NonDeductible'">
                            {{ rowData[col.field] }}
                          </ng-container>
                        </ng-template>
                        <ng-template #editable_col>
                          <p-cellEditor pEditableColumn [pEditableColumn]="rowData['Id']">
                            <ng-template pTemplate="input">

                              <input class="form-control" pInputText
                                (blur)="calculateBundleWithCostElements(rowData['Id'])"
                                [ngModelOptions]="{ standalone: true }" type="number" min="0"
                                [(ngModel)]="rowData[col.field]">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData[col.field] }}
                              <a class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                title="{{'App.Buttons.Edit' | translate}}">
                                <i class="la la-edit"></i>
                              </a>
                            </ng-template>
                          </p-cellEditor>
                        </ng-template>
                      </ng-template>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr *ngIf="costElements.length === 0">
                    <td [attr.colspan]="columns?.length" class="empty-grid-table">
                      <span class="emp-msg">
                        {{ 'App.Fields.NoData' | translate }}
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="p-2" style="color: #f4516c" *ngIf="costElements.length == 0 && submitted">
              {{'Sales.Fields.AddingCostElementsMusts' | translate}}
            </div>
            <div class="p-2" style="color: #f4516c" *ngIf="NetVal == 0 && submitted && costElements.length>0">
              {{'Sales.Fields.BundleValueGreaterThanZero' | translate}}
            </div>
          </div>
          <!-- footer  -->
          <div class="col-12 m-form__actions m-form__actions p-3 ml-lg-auto text-center">
            <button type="submit" class="btn btn-save-cancel mb-1 btn-brand">
              {{'App.Buttons.Save' | translate}}
            </button>&nbsp;&nbsp;
            <button type="button" data-dismiss="modal" class="btn btn-cons btn-save-cancel mb-1 btn-secondary"
              [routerLink]="['/sales/list-bundles']">
              {{'App.Buttons.Cancel' | translate}}
            </button>

          </div>
        </div>
      </form>
      <!--end::Form-->
    </div>
  </div>
</div>
<app-shared-progress-spinner *ngIf="progressSpinner"></app-shared-progress-spinner>
