<div class=" col-md-12 p-3 border bg-white">
    <div class="row">
        <div class="col-md-3">
            <p-calendar
            class="form-control calendar-form-control  p-0  p-0" [(ngModel)]="from" name="from"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="1990:2030" 
            (onSelect)="onSelectFromDate(from)"
            placeholder="{{ 'Attendance.Titles.From' | translate }}"
            [maxDate]="maxDate"
            dateFormat="dd/mm/yy">
            </p-calendar>
        </div>
        <div class="col-md-3">
            <p-calendar
            class="form-control calendar-form-control  p-0  p-0"
             [(ngModel)]="to" name="to"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="1990:2030" 
            (onSelect)="onSelectToDate(to)"
            placeholder="{{ 'Attendance.Titles.To' | translate }}"
            [minDate]="minDate"
            dateFormat="dd/mm/yy">
            </p-calendar>
        </div>
        <div class="col-md-2">
            <div class="card flex justify-content-center">
                <p-multiSelect 
                [options]="employees" 
                [(ngModel)]="selectedEmps" 
                name="selectedEmps"
                (onChange)="onSelectItem()"
                defaultLabel="{{'Attendance.Titles.SelectEmployee'|translate}}" 
                optionLabel="empName"
                display="chip">
            </p-multiSelect>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-brand" id="" (click)="onAdvancedSearch(selectedEmps)">{{'Attendance.Titles.ShowAttendance' | translate}}</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-brand" id="" (click)="onDownload(from,to,selectedEmps)">{{'Attendance.Titles.DownloadAttendance' | translate}}</button>
        </div>

    </div>
</div>
<app-page-list #ُpagedList  [pageListConfig]="pageListConfig" ></app-page-list>

