<div
  class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin">
  <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
    <div class="m-stack m-stack--hor m-stack--desktop d-flex align-items-center flex-column justify-content-center">

      <!--Login/register/forgot-->
      <router-outlet></router-outlet>

    </div>
  </div>
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1
  m-login__content m-grid-item--center d-xl-flex d-none"
    style="background-image: url(assets/app/media/img/bg/bg-4.jpg)">
    <div class="m-grid__item">
      <h3 class="m-login__welcome">ERP System</h3>
      <span class="m-login__welcome ">
      </span>
    </div>
  </div>
</div>
