<div class="m-portlet m-portlet--mobile" *authorization="{actionName:'receipts-credit-notes-list',pageLevel:true}">
  <!-- BEGIN: Subheader -->
  <div class="m-portlet__head m-subheader d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title p-0">{{ 'Receipts.Titles.CreditNotesListPage' | translate}}</h3>
    </div>
    <div>
      <button *authorization="'receipts-credit-notes-create'" routerLink="/individual/receipts/create-credit-note"
        type="button" class="btn btn-brand btn-cons">
        {{ 'Receipts.Buttons.CreditNoteCreate' | translate}}
      </button>
    </div>
  </div>
  <!-- END: Subheader -->
  <form [formGroup]="searchForm" (ngSubmit)="_dynamicSearchService.search(searchForm,searchModel, getData.bind(this))">
    <div class="m-portlet__body">
      <div class="row mx-0 m_datatable box-shadow">
        <div class="m_datatable w-100 list ">
          <p-table #dt [value]="dataItems" [paginator]="true" [totalRecords]="pagingMetaData?.totalCount"
          [rows]="pagingMetaData?.pageSize" [first]="pagingMetaData?.pageNumber" [autoLayout]="true"
          [responsive]="true" [loading]="progressSpinner" [columns]="cols" [(contextMenuSelection)]="selectedItem"
          [lazy]="true" (onLazyLoad)="_dynamicSearchService.lazy($event, searchModel, getData.bind(this))"
          [rowsPerPageOptions]="[10, 20, 30]" [scrollable]="true" frozenWidth="6.5%" class="w-100">
            <!-- <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" style="width:150px">
              </colgroup>
            </ng-template> -->
           
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field" [hidden]="col.hidden">
                  {{ col.header | translate }}
                  <p-sortIcon [field]="col.field" *ngIf="col.field !== 'ActionButtons'"></p-sortIcon>
                </th>
                <th pFrozenColumn class="left-frozen">{{'App.Fields.Actions' | translate}}</th>
              </tr>
              <!-- search caractria -->
              <tr id="searchRow" formArrayName="searchFields">
                <th *ngFor="let col of cols let i = index" [ngSwitch]="col.field" [hidden]="col.hidden">
                  <div [formGroupName]="i" *ngIf="col.searchable && !col.hidden" class="grid-search">
                    <ng-container *ngIf="col.searchType == 'text'">

                      <input formControlName="FieldName" type="text" class="form-control" [value]="col.field" hidden>
                      <input formControlName="Value" type="text" class="form-control">
                      <select formControlName="Operator" class="form-control">
                        <option *ngFor="let item of operators" [value]="item">
                          {{'App.SearchOperations.' + item | translate}}
                        </option>
                      </select>
                    </ng-container>
                    <ng-container *ngIf="col.searchType == 'date'">

                      <input formControlName="FieldName" type="text" class="form-control" [value]="col.field" hidden>
                      <input formControlName="Value" type="date" class="form-control">
                      <select formControlName="Operator" class="form-control">
                        <option *ngFor="let item of operators" [value]="item">
                          {{'App.SearchOperations.' + item | translate}}
                        </option>
                      </select>
                    </ng-container>

                  </div>

                </th>
                <th pFrozenColumn class="left-frozen">
                  <div class="grid-buttons ">
                    <button type="submit" class="btn btn-brand" title="search in gride">
                      <i class="la la-search"></i>
                    </button>
                    <button title="reset" (click)="_dynamicSearchService.reset(searchForm, cols, getData.bind(this))"
                      class="btn btn-secondary">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dataItem let-columns="columns">
              <tr [pSelectableRow]="dataItem" [pContextMenuRow]="dataItem">
                <td *ngFor="let col of columns" [hidden]="col.hidden">
                  <!--begin::Handle ActionButtons & Data Fields-->
                  <ng-container *ngIf="
                  col.field === 'ActionButtons';
                  then render_action_buttons;
                  else render_data_field
                "></ng-container>

                  <ng-template #render_action_buttons>

                  </ng-template>
                  <ng-template #render_data_field>
                    {{ !col.pipe ? dataItem[col.field] || '---' : col.pipe === 'date' ? (dataItem[col.field] | date:
                    col.pipeFormat) :(col.pipe === 'currency'? (dataItem[col.field] | currency: ' ' ) :
                    dataItem[col.field])
                    }}
                  </ng-template>

                </td>
                <td pFrozenColumn class="left-frozen">
                  <span class="d-flex justify-content-center">
                    <span class="d-inline-block">
                      <div class="dropdown">
                        <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                          data-toggle="dropdown" aria-expanded="true">
                          <i class="la la-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a *authorization="'receipts-payment-receipts-edit'" class="dropdown-item"
                            title="{{'App.Buttons.Edit' | translate}}" (click)="setId(dataItems['Id'])">
                            {{'App.Buttons.Edit' | translate}}
                          </a>
                          <a *authorization="'receipts-payment-receipts-edit'" class="dropdown-item"
                          title="{{'App.Buttons.Edit' | translate}}" (click)="setId(dataItems['Id'])">
                          {{'App.Buttons.Edit' | translate}}
                        </a>
                        <a *authorization="'receipts-payment-receipts-edit'" class="dropdown-item"
                        title="{{'App.Buttons.Edit' | translate}}" (click)="setId(dataItems['Id'])">
                        {{'App.Buttons.Edit' | translate}}
                      </a>
                          <!-- <span *ngIf="dataItems.CreditReceivableId && !dataItems.CreditReceivableId.includes('--')" >
                          <a *authorization="'receipts-payment-receipts-print'" data-toggle="modal"
                            data-target="#reportModal" class="dropdown-item" title="{{'App.Buttons.Print' | translate}}"
                            (click)="showReport(dataItems.CreditReceivableId)">
                            {{'App.Buttons.Print' | translate}}
                          </a>
                          </span> -->
                        </div>

                      </div>
                    </span>
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns *ngIf="!progressSpinner">
              <tr>
                <td [attr.colspan]="columns?.length" class="empty-grid-table">
                  <span class="emp-msg">
                    {{ 'App.Fields.NoData' | translate }}
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </form>
</div>
<div  class="custom-bottom-aside-modal modal fade"
  *authorization="'receipts-credit-notes-report'"
  id="reportModal"
  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-report-model-viewer></app-report-model-viewer>
</div>


