<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page" style="height: 100vh">
  <div class="m-grid__item m-grid__item--fluid m-grid  m-error-3"
    style="background-image:url(./assets/app/media/img//error/bg5.png); background-color: #f2f3f8;">
    <div class="m-error_container not-auth">
      <span class="m-error_number">
        <h1>401</h1>
      </span>
      <p class="m-error_title text-primary">
        How did you get here
      </p>
      <p class="m-error_subtitle mt-1 not-auth-subtitle">
        Sorry You can't be here , you are not authorized
      </p>
      <div class="m-error_subtitle mt-1">
        <button class="btn btn-brand ">Back</button>
      </div>

    </div>
  </div>
</div>
