<!--begin::Portlet-->
<div class="details" *authorization="{actionName:'receipts-payment-receipts-create',pageLevel:true}">
  <div class="m-portlet m-0">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h6 class="m-portlet__head-text">
            <a routerLink="/receipts/payment-receipts" class="back-icon">
              <i class="fa fa-arrow-alt-circle-right "></i>
            </a>
            {{ 'Receipts.Titles.PaymentReceiptsCreatePage' | translate}}
          </h6>
        </div>
      </div>
    </div>


    <div class="m-portlet__body">
      <!--begin::Form-->
      <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="form" (ngSubmit)="createPaymentReciept()">


        <div class="row mx-0 px-0 py-2 tableBody">
          <!--Start Inputs-->

          <!-- DocumentDate -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 mx-auto px-0">
                <label for="date" class="form-control-label">{{'Receipts.Fields.ReciptDate' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="{{ '1900:' + toYear }}"
                  placeholder="{{'Receipts.Fields.ReciptDate' | translate}}" formControlName="DocumentDate"
                  dateFormat="yy-mm-dd" class="form-control calendar-form-control  p-0 " [ngClass]="{
                      'is-invalid':
                        submitted && form.get('DocumentDate').errors
                    }" [minDate]="minDateValue">
                </p-calendar>
                <div class="invalid-feedback" *ngIf="form.get('DocumentDate').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <!-- Customer -->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="Customer">{{'Receipts.Fields.CustomerName' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete id="Customer" class="p-0 form-control" field="FullArabicName" formControlName="Customer"
                  [suggestions]="filteredArray" (completeMethod)="searchCustomers($event)"
                  (onSelect)="onSelectCustomer($event)" (onClear)="onClear('Customer')" [forceSelection]="true"
                  [size]="30" [minLength]="1" placeholder="{{'Receipts.Fields.CustomerName' | translate}}"
                  [dropdown]="true" [ngClass]="{
              'is-invalid': submitted && form.get('Customer').errors
            }">
                  <ng-template let-Customer pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ Customer.FullArabicName }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback " *ngIf="form.get('Customer').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <!-- Contract -->
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="Contract"> {{'Receipts.Fields.ContractName' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete id="Contract" class="p-0 form-control" formControlName="Contract" field="SegmentId"
                  [suggestions]="filteredArray" (completeMethod)="filterArray($event, Contracts,'SegmentId')"
                  (onSelect)="onSelectContract($event)" (onClear)="onClear('Contract')" [forceSelection]="true"
                  [size]="30" [minLength]="1" placeholder="{{'Receipts.Fields.ContractName' | translate}}"
                  [dropdown]="true" [ngClass]="{
                      'is-invalid': submitted && form.get('Contract').errors
                    }">
                  <ng-template let-Contract pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ Contract.SegmentId }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback " *ngIf="form.get('Contract').errors?.required">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <!-- SalesRepresentative -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 mx-auto px-0 text-nowrap">
                <label for="rep" class="form-control-label">{{'Receipts.Fields.SalesRepresentive' | translate}}</label>
              </div>
              <div class="col-12 px-0">
                <input type="text" formControlName="SalesRepresentative" class="form-control" id="rep"
                  placeholder="{{'Receipts.Fields.SalesRepresentive' | translate}}" [disabled]="true">
              </div>
            </div>
          </div>

          <!-- RefNumber -->
          <div class="col-lg-2 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 mx-auto px-0 text-nowrap">
                <label for="RefNumber" class="form-control-label">{{'Receipts.Fields.InvoiceRefNumber' |
                  translate}}</label>
              </div>
              <div class="col-12 px-0">
                <input class="form-control" id="RefNumber" type="text" formControlName="RefNumber" />
              </div>
            </div>
          </div>

          <!-- paymentMethod -->
          <div class="row mx-0 p-0 w-100">
            <div class="col-12 mx-auto">
              <label class="form-control-label">{{'Receipts.Fields.PaymentMethod' | translate}}</label>
              <span class="required">*</span>
            </div>


            <div class="col-lg-6 col-12">
              <!--CheckBox IsCashBox -->
              <div class="col-12 px-0">
                <div class="form-group m-form__group row mx-0 px-0">
                  <div class="col-12 px-0">
                    <div class="m-checkbox-inline">
                      <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                        <input formControlName="IsCashBox" type="checkbox"
                          (change)="IsCashOrDeposit()" />{{'Receipts.Fields.Cash' | translate}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!--CashBox 6-->
                <div class="col-lg-4 col-md-4 col-12">
                  <div class="form-group m-form__group row mx-0 px-0 pt-0">
                    <div class="col-12 mx-auto px-0 text-nowrap">
                      <label for="safeNumber" class="form-control-label">
                        {{'Receipts.Fields.SafeNumber' | translate}}</label>
                      <span class="required">*</span>
                    </div>
                    <div class="col-12 px-0">
                      <p-autoComplete formControlName="CashBox" class="p-0 form-control" field="FullArabicName"
                        [suggestions]="filteredArray" (completeMethod)="filterArray($event,CashBoxs)"
                        [forceSelection]="true" [size]="30" [minLength]="1"
                        placeholder="{{'Receipts.Fields.SafeNumber' | translate}}" [dropdown]="true" [ngClass]="{
                              'is-invalid': submitted && form.get('CashBox').errors
                            }">
                        <ng-template let-CashBox pTemplate="item">
                          <div class="ui-helper-clearfix">
                            <div>
                              {{ CashBox.FullArabicName }}
                            </div>
                          </div>
                        </ng-template>
                      </p-autoComplete>
                      <div class="invalid-feedback " *ngIf="form.get('CashBox').errors?.required && submitted">
                        {{'App.Fields.RequiredField' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <!--  CreditCardType -->
                <div class="col-lg-4 col-md-4 col-12">
                  <div class="form-group m-form__group row mx-0 px-0 pt-0">
                    <div class="col-12 mx-auto px-0 text-nowrap">
                      <label for="CreditCardType" class="form-control-label">{{'Receipts.Fields.CreditCardType' |
                        translate}} </label>
                      <span class="required">*</span>
                    </div>
                    <div class="col-12 px-0">
                      <p-autoComplete formControlName="CreditCardType" class="p-0 form-control" field="FullArabicName"
                        [suggestions]="filteredArray" (completeMethod)="filterArray($event, viewModel?.CreditCardTypes)"
                        [forceSelection]="true" [size]="30" [minLength]="1"
                        placeholder="{{'Receipts.Fields.CreditCardType' | translate}}" [dropdown]="true" [ngClass]="{
                        'is-invalid': submitted && form.get('CreditCardType').errors
                      }">
                        <ng-template let-CreditCardType pTemplate="item">
                          <div class="ui-helper-clearfix">
                            <div>
                              {{ CreditCardType.FullArabicName }}
                            </div>
                          </div>
                        </ng-template>
                      </p-autoComplete>
                      <div class="invalid-feedback " *ngIf="form.get('CreditCardType').errors?.required && submitted">
                        {{'App.Fields.RequiredField' | translate}}
                      </div>
                    </div>
                  </div>
                </div>


                <!--paymentValue 6-->
                <div class="col-lg-3 col-md-4 col-12">
                  <div class="form-group m-form__group row mx-0 px-0 pt-0">
                    <div class="col-12 mx-auto px-0 text-nowrap">
                      <label for="paymentValue" class="form-control-label">{{'Receipts.Fields.PayedCash' |
                        translate}}</label>
                      <!-- <span class="required">*</span> -->
                    </div>
                    <div class="col-12 px-0">
                      <input formControlName="CashBoxAmount" type="number" class="form-control" id="paymentValue"
                        placeholder="{{'Receipts.Fields.PayedCash' | translate}}" (input)="calculate()" [ngClass]="{
                          'is-invalid': submitted && form.get('CashBoxAmount').errors
                        }">
                      <div class="invalid-feedback" *ngIf="form.get('CashBoxAmount').errors?.required">
                        {{'App.Fields.RequiredField' | translate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12">

              <!--CheckBox IsBankDeposit-->
              <div class="col-12 px-0">
                <div class="form-group m-form__group row mx-0 px-0 pt-0">
                  <div class="col-12 px-0">
                    <div class="m-checkbox-inline">
                      <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                        <input formControlName="IsBankDeposit" type="checkbox"
                          (change)="IsCashOrDeposit()" />{{'Receipts.Fields.BankOrTransfer' | translate}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!--BankAccount 6-->
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group m-form__group row mx-0 px-0 pt-0">
                    <div class="col-12 mx-auto px-0">
                      <label for="transferSafeNumber" class="form-control-label">{{'Receipts.Fields.BankAccountNumber' |
                        translate}}</label>
                      <span class="required">*</span>
                    </div>
                    <div class="col-12 px-0">
                      <p-autoComplete formControlName="BankAccount" class="p-0 form-control" field="FullArabicName"
                        [suggestions]="filteredArray" (completeMethod)="filterArray($event, viewModel?.BankAccounts)"
                        [forceSelection]="true" [size]="30" [minLength]="1"
                        placeholder="{{'Receipts.Fields.BankAccountNumber' | translate}}" [dropdown]="true" [ngClass]="{
                                'is-invalid': submitted && form.get('BankAccount').errors
                              }">
                        <ng-template let-BankAccount pTemplate="item">
                          <div class="ui-helper-clearfix">
                            <div>
                              {{ BankAccount.FullArabicName }}
                            </div>
                          </div>
                        </ng-template>
                      </p-autoComplete>
                      <div class="invalid-feedback " *ngIf="form.get('BankAccount').errors?.required && submitted">
                        {{'App.Fields.RequiredField' | translate}}
                      </div>
                    </div>
                  </div>
                </div>
                <!--Sadad Value 6-->
                <div class="col-md-6 col-12">
                  <div class="form-group m-form__group row mx-0 px-0 pt-0">
                    <div class="col-12 mx-auto px-0">
                      <label for="transferPaymentValue" class="form-control-label">{{'Receipts.Fields.DepositValue' |
                        translate}}</label>
                      <span class="required">*</span>
                    </div>
                    <div class="col-12 px-0">
                      <input type="number" formControlName="BankDepositAmount" class="form-control"
                        id="transferPaymentValue" placeholder="{{'Receipts.Fields.DepositValue' | translate}}"
                        (input)="calculate()" [ngClass]="{
                          'is-invalid': submitted && form.get('BankDepositAmount').errors
                        }">
                      <div class="invalid-feedback" *ngIf="form.get('BankDepositAmount').errors?.required">
                        {{'App.Fields.RequiredField' | translate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 tableHeader">
          <label class="form-control-label py-3 mb-0">{{'Receipts.Fields.Payment' | translate}}</label>
        </div>
        <div class=" row mx-0 px-0 py-2 tableBody">
          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="NoInstallment" class="form-control-label">{{'Receipts.Fields.ReciptType' |
                  translate}}</label>
              </div>
              <div class="col-12 px-0">
                <select class="form-control" [(ngModel)]="voucherType" [ngModelOptions]="{ standalone: true }"
                  (change)="onSelectVoucherType()">
                  <option value="CR">{{'Receipts.Fields.CRInvoice' | translate}}</option>
                  <option value="DN">{{'Receipts.Fields.DNCreditNote' | translate}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label class="form-control-label" for="">{{'Receipts.Fields.ReciptName' | translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <p-autoComplete class="p-0 form-control" field="VoucherId" [suggestions]="filteredArray"
                  [(ngModel)]="selectedVoucher" [ngModelOptions]="{ standalone: true }"
                  (completeMethod)="filterArray($event, filteredVouchers,'VoucherId')" [forceSelection]="true" [size]="30"
                  [minLength]="1" placeholder="{{'Receipts.Fields.ReciptName' | translate}}" [dropdown]="true"
                  [ngClass]="{
                        'is-invalid': added && !selectedVoucher
                      }">
                  <ng-template let-voucher pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>
                        {{ voucher.VoucherId || voucher.Id + '---' }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <div class="invalid-feedback " *ngIf="added && !selectedVoucher">
                  {{'App.Fields.RequiredField' | translate}}
                </div>
              </div>
            </div>
          </div>


          <!-- بحث -->

          <div class="col-1 mt-2">
            <div class="form-group m-form__group  row mx-0 px-0">
              <div class="col-3 mt-4 px-0">
                <button data-toggle="modal" data-target="#showVouchers" type="button"
                  class="search-icon cursor-pointer">
                  <i class="fa fa-search" title="{{'App.Buttons.Search' | translate}}"></i>
                </button>
                <!-- <i class="fa fa-search  search-icon cursor-pointer" title="ابحث"></i> -->
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0">
                <label for="NoInstallment" class="form-control-label">{{'Receipts.Fields.ReciptValue' |
                  translate}}</label>
                <span class="required">*</span>
              </div>
              <div class="col-12 px-0">
                <input type="number" min="0" class="form-control"
                  placeholder=" {{'Receipts.Fields.ReciptValue' | translate}}" [(ngModel)]="paidValue"
                  [ngModelOptions]="{ standalone: true }" [ngClass]="{'is-invalid' : added && (paidValue <= 0 || paidValue === undefined)
           }" />
              </div>
              <div class="invalid-feedback" *ngIf="(paidValue <= 0 || paidValue === undefined) && added">
                {{'App.Fields.RequiredField' | translate}}
              </div>
            </div>
          </div>

          <!-- btn -->
          <div class="col-1 mt-2">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 px-0 mt-4">
                <i (click)="addSettlement()" class="la la-plus add-icon cursor-pointer"
                  title="{{'App.Buttons.Add' | translate}}"></i>
              </div>
            </div>
          </div>

          <!-- settlement grid -->
          <div class="col-12 mt-1">
            <div class="box-shadow mx-0 px-0 py-0">
              <p-table [columns]="settlementCols" [value]="settlements" [paginator]="true" [rows]="5"
                dataKey="DebitReceivableId" [totalRecords]="settlementCols?.length" [autoLayout]="true"
                [responsive]="true" class="full-width" (onEditComplete)="onEdit($event)" (onEditCancel)="onEdit($event)"
                (onEditInit)="onEditChange($event)">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="col.hidden">
                      {{ col.header | translate }}
                      <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" [hidden]="col.hidden">
                      <ng-container *ngIf="
                              col.field === 'ActionButtons';
                              then render_action_buttons;
                              else render_data_field
                            "></ng-container>
                      <ng-template #render_action_buttons>
                        <a class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                          title="{{'App.Buttons.Delete' | translate}}" (click)="removeSettlement(rowData)">
                          <i class="flaticon-delete"></i>
                        </a>
                      </ng-template>
                      <ng-template #render_data_field>
                        <ng-container *ngIf="
                              col.field === 'PaidAmount';
                              then editable_col;
                              else fixed_col
                            "></ng-container>
                        <ng-template #fixed_col>
                          {{ !col.pipe ? rowData[col.field] : col.pipe === 'number' ? (rowData[col.field] | number:
                          col.pipeFormat) : rowData[col.field]
                          }} </ng-template>
                        <ng-template #editable_col>
                          <p-cellEditor pEditableColumn [pEditableColumn]="rowData">
                            <ng-template pTemplate="input">
                              <input pInputText class="form-control" [ngModelOptions]="{ standalone: true }"
                                type="number" min="0" [(ngModel)]="rowData[col.field]"
                                (blur)="onEdit({data : rowData})">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData[col.field] }}
                              <a class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                title="{{'App.Buttons.Edit' | translate}}">
                                <i class="la la-edit"></i>
                              </a>
                            </ng-template>
                          </p-cellEditor>
                        </ng-template>
                      </ng-template>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr *ngIf="settlements.length === 0">
                    <td [attr.colspan]="columns?.length" class="empty-grid-table">
                      <span class="emp-msg">
                        {{ 'App.Fields.NoData' | translate }}
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <!-- ArabicRemarks -->
          <div class="col-12">
            <div class="form-group m-form__group row mx-0 px-0">
              <div class="col-12 mx-auto px-0">
                <label for="remark" class="form-control-label">{{'App.Fields.Notes' | translate}}</label>
              </div>
              <div class="col-12 px-0">
                <textarea formControlName="ArabicRemarks" class="form-control" id="remark"></textarea>
              </div>
            </div>
          </div>
          <!-- footer  -->
          <div class="col-12 m-form__actions m-form__actions p-3 ml-lg-auto text-center">
            <button class="btn   btn-save-cancel mb-1 btn-brand" type="submit">{{'App.Buttons.Save' |
              translate}}</button>&nbsp;&nbsp;
            <button type="button" class="btn   btn-save-cancel mb-1 btn-secondary"
              [routerLink]="['/receipts/payment-receipts']"
              routerLinkActive="router-link-active">{{'App.Buttons.Cancel' | translate}}</button>
          </div>
        </div>



      </form>

      <!--end::Form-->
    </div>
  </div>
</div>

<app-shared-progress-spinner *ngIf="progressSpinner"></app-shared-progress-spinner>


<!--begin::Modal for vouchers-->
<div class="custom-bottom-aside-modal modal fade" id="showVouchers" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">السندات</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row p-2">
          <div class="col-12" *ngIf="filteredVouchers">
            <div class="m-portlet__body box-shadow">
              <p-table [columns]="vouchersCols" [value]="filteredVouchers" [(selection)]="selectedVoucher"
                dataKey="VoucherId" [paginator]="true" [rows]="4">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 3em"></th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="col.hidden">
                      {{ col.header | translate }}
                      <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td>
                      <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                    </td>
                    <td *ngFor="let col of columns" [hidden]="col.hidden">{{ !col.pipe ? rowData[col.field] : col.pipe
                      === 'number' ? (rowData[col.field] | number: col.pipeFormat)
                      : rowData[col.field] }}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr *ngIf="filteredVouchers?.length === 0">
                    <td [attr.colspan]="columns?.length" class="empty-grid-table">
                      <span class="emp-msg">
                        {{ 'App.Fields.NoData' | translate }}
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <!-- <div class="p-2" style="color: #f4516c" *ngIf="!selectedBundle && submitted">
              {{'App.Fields.RequiredField' | translate}}
              </div> -->
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="m-auto">
          <button type="button" data-dismiss="modal"
            class="btn btn-save-cancel mb-1 btn-brand">اختار</button>&nbsp;&nbsp;
          <button type="button" data-dismiss="modal" class="btn btn-cons btn-save-cancel mb-1 btn-secondary"
            (click)="selectedVoucher= undefined;">{{'App.Buttons.Cancel' | translate}}</button>
        </div>
      </div>



      <!--end::Form-->
    </div>
  </div>
</div>
